demo/nodered/.flows_SD-20210329XRPO.json.backup
[{"id":"392cb56b.befe8a","type":"tab","label":"设备故障","disabled":false,"info":""},{"id":"a3148e2c.f9f36","type":"tab","label":"生产安排","disabled":false,"info":""},{"id":"9f3ceec2.df6e4","type":"tab","label":"用料记录","disabled":false,"info":""},{"id":"d3fa8cac.1da15","type":"tab","label":"相机","disabled":false,"info":""},{"id":"50cb570c.c80dd8","type":"subflow","name":"用户存在判断","info":"","category":"","in":[{"x":100,"y":100,"wires":[{"id":"12665266.0757ee"}]}],"out":[{"x":720,"y":80,"wires":[{"id":"5a9ab98d.8135b8","port":0}]},{"x":720,"y":120,"wires":[{"id":"fb8f7c95.9acfc","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"37488f19.87758","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3308","db":"mes","tz":"","charset":"UTF8"},{"id":"9504e90f.241438","type":"exec","z":"392cb56b.befe8a","command":"python G:\\project\\photo-MES\\demo\\nodered_run.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"opencv识别","x":250,"y":140,"wires":[["4d6ad74c.26fd58"],["e110cac1.7fa6d8"],["d051df19.3d37c"]]},{"id":"7b6deb8a.bf9aa4","type":"inject","z":"392cb56b.befe8a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"payloads","v":"[]","vt":"jsonata"},{"p":"topics","v":"[]","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"select remark from basic_template where code = '0505'","payload":"test.png 88,127,168,369,94,124,639,743,142,174,621,742","payloadType":"str","x":90,"y":40,"wires":[["fa0aaf48.34cc6"]]},{"id":"fa0aaf48.34cc6","type":"mysql","z":"392cb56b.befe8a","mydb":"37488f19.87758","name":"","x":110,"y":80,"wires":[["ace524f3.bb7648"]]},{"id":"ace524f3.bb7648","type":"switch","z":"392cb56b.befe8a","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":80,"wires":[["44f58118.7c8ea"],[]]},{"id":"36b8432a.364c9c","type":"function","z":"392cb56b.befe8a","name":"","func":"var data = msg.payload[0].remark;\nvar str = data.join(',');\nstr = \"test5.png \"+str;\nmsg.payload = str;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":80,"wires":[["9504e90f.241438"]]},{"id":"44f58118.7c8ea","type":"json","z":"392cb56b.befe8a","name":"","property":"payload[0].remark","action":"","pretty":false,"x":390,"y":80,"wires":[["36b8432a.364c9c"]]},{"id":"e110cac1.7fa6d8","type":"debug","z":"392cb56b.befe8a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":230,"y":200,"wires":[]},{"id":"d051df19.3d37c","type":"debug","z":"392cb56b.befe8a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":230,"y":240,"wires":[]},{"id":"9a2598bd.d1f5f8","type":"json","z":"392cb56b.befe8a","name":"","property":"payload","action":"","pretty":false,"x":610,"y":140,"wires":[["b3bb3618.81e058"]]},{"id":"4d6ad74c.26fd58","type":"function","z":"392cb56b.befe8a","name":"json预处理","func":"msg.payload = msg.payload + \"YYY\";\nmsg.payload = msg.payload.replace(\",YYY\",\"]\");\nmsg.payload = msg.payload.replace(\"YYY\",\"\");\nmsg.payload = msg.payload.replace(\",XXX\",\"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":140,"wires":[["9a2598bd.d1f5f8"]]},{"id":"c6b23af4.f9bba8","type":"inject","z":"392cb56b.befe8a","name":"","props":[{"p":"kill","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":140,"wires":[["9504e90f.241438"]]},{"id":"b3bb3618.81e058","type":"function","z":"392cb56b.befe8a","name":"字段识别","func":"var getTimeStr = function(str){\n    var minu = str.substring(str.length-2,str.length);\n    var hour = str.substring(str.length-4,str.length-2);\n    var day = str.substring(str.length-6,str.length-4);\n    var year = (new Date()).getFullYear();\n    var month = (new Date()).getMonth()+1;\n    if(month<10)month=\"0\"+month;\n    if(str.length>=8){\n        month = str.substring(str.length-8,str.length-6);\n    }\n    if(str.length==12){\n        year = str.substring(str.length-12,str.length-8);\n    }    \n    var rtstr = year+'-'+month+'-'+day+' '+hour+':'+minu+':'+'00';\n    return rtstr;\n}\n\nvar data = {\n    status:0,\n    code:0,\n};\nvar pld = msg.payload;\n\nvar s1 = pld.find(o=>o[0]=='status__1');\nvar s2 = pld.find(o=>o[0]=='status__2');\nvar s3 = pld.find(o=>o[0]=='status__3');\nif(s1)data['status']=1;\nif(s2)data['status']=2;\nif(s3)data['status']=3;\nif(data.status==0){\n    msg.error = 'no status';\n    return msg;\n}\nvar code_it = pld.find(o=>o[0]=='code');\nif(code_it){\n    data['code'] = code_it[1].join('');\n}\nif(data.code==0){\n    msg.error = 'no code';\n    return msg;\n}\nif(data.status>=1){\n    var it = pld.find(o=>o[0]=='time_report');\n    if(!it){\n        msg.error = 'no time_report';\n        return msg;\n    }\n    var str = it[1].join(\"\");\n    if(str.length<6){\n        msg.error = 'time_report length less than 6';\n        return msg;\n    }\n    data['time_report']=getTimeStr(str);\n    if(true){\n        var it2 = pld.find(o=>o[0]=='device');\n        if(!it2){\n            msg.error = 'no device';\n            return msg;\n        }\n        var str2 = it2[1].join(\"\");\n        data['device']=str2;\n    }\n    if(true){\n        var it2 = pld.find(o=>o[0]=='user_report');\n        if(!it2){\n            msg.error = 'no user_report';\n            return msg;\n        }\n        var str2 = it2[1].join(\"\");\n        data['user_report']=str2;  \n    }\n    if(true){\n        var it2 = pld.find(o=>o[0]=='urgency');\n        if(!it2){\n            msg.error = 'no urgency';\n            return msg;\n        }\n        var str2 = it2[1].join(\"\");\n        data['urgency']=str2;  \n    } \n    if(true){\n        var it2 = pld.find(o=>o[0]=='loss');\n        if(!it2){\n            msg.error = 'no loss';\n            return msg;\n        }\n        var str2 = it2[1].join(\"\");\n        data['loss']=str2;  \n    } \n    if(true){\n        var it2 = pld.find(o=>o[0]=='critical');\n        if(!it2){\n            msg.error = 'no critical';\n            return msg;\n        }\n        var str2 = it2[1].join(\"\");\n        data['critical']=str2;  \n    }   \n    if(true){\n        var str =\",\";\n        var it2 = pld.find(o=>o[0]=='appearances__1');\n        if(it2)str+=\"1,\";\n        var it2 = pld.find(o=>o[0]=='appearances__2');\n        if(it2)str+=\"2,\";\n        var it2 = pld.find(o=>o[0]=='appearances__3');\n        if(it2)str+=\"3,\";   \n        var it2 = pld.find(o=>o[0]=='appearances__4');\n        if(it2)str+=\"4,\"; \n        var it2 = pld.find(o=>o[0]=='appearances__5');\n        if(it2)str+=\"5,\";    \n        var it2 = pld.find(o=>o[0]=='appearances__6');\n        if(it2)str+=\"6\";   \n        var it2 = pld.find(o=>o[0]=='appearances__7');\n        if(it2)str+=\"7,\";           \n        data['appearances']=str;  \n    }     \n}\nif(data.status>=2){\n    var it = pld.find(o=>o[0]=='time_handle');\n    if(!it){\n        msg.error = 'no time_handle';\n        return msg;\n    }\n    var str = it[1].join(\"\");\n    if(str.length<6){\n        msg.error = 'time_handle length less than 6';\n        return msg;\n    }\n    data['time_handle']=getTimeStr(str);  \n    if(true){\n        var str =\",\";\n        var it2 = pld.find(o=>o[0]=='reason__1');\n        if(it2)str+=\"1,\";\n        var it2 = pld.find(o=>o[0]=='reason__2');\n        if(it2)str+=\"2,\";\n        var it2 = pld.find(o=>o[0]=='reason__3');\n        if(it2)str+=\"3,\";   \n        var it2 = pld.find(o=>o[0]=='reason__4');\n        if(it2)str+=\"4,\"; \n        var it2 = pld.find(o=>o[0]=='reason__5');\n        if(it2)str+=\"5,\";    \n        var it2 = pld.find(o=>o[0]=='reason__6');\n        if(it2)str+=\"6\";   \n        var it2 = pld.find(o=>o[0]=='reason__7');\n        if(it2)str+=\"7,\";           \n        data['causes']=str;  \n    }\n    if(true){\n        var arr = [{code:0},{code:0},{code:0},{code:0},{code:0}];\n        var it2 = pld.find(o=>o[0]=='user_handle--1');\n        if(it2){\n            var str = it2[1].join(\"\");\n            arr[0]={code:str};\n        }        \n        var it2 = pld.find(o=>o[0]=='user_handle--2');\n        if(it2){\n            var str = it2[1].join(\"\");\n            arr[1]={code:str};\n        }\n        var it2 = pld.find(o=>o[0]=='user_handle--3');\n        if(it2){\n            var str = it2[1].join(\"\");\n            arr[2]={code:str};\n        }   \n        var it2 = pld.find(o=>o[0]=='user_handle--4');\n        if(it2){\n            var str = it2[1].join(\"\");\n            arr[3]={code:str};\n        } \n        var it2 = pld.find(o=>o[0]=='user_handle--5');\n        if(it2){\n            var str = it2[1].join(\"\");\n            arr[4]={code:str};\n        }         \n        data['user_handles']=arr;  \n    }  \n    if(true){\n        var it2 = pld.find(o=>o[0]=='user_assign');\n        if(!it2){\n            msg.error = 'no user_assign';\n            return msg;\n        }\n        var str2 = it2[1].join(\"\");\n        data['user_assign']=str2;  \n    }\n    if(true){\n        var arr = [{code:0,num:0},{code:0,num:0},{code:0,num:0},{code:0,num:0}];\n        var it2 = pld.find(o=>o[0]=='material--1');\n        if(it2){\n            var str = it2[1].join(\"\");\n            var it3 = pld.find(o=>o[0]=='material_num--1');\n            var num = it3[1].join(\"\");\n            arr[0]={code:str,num:num};\n        }\n        var it2 = pld.find(o=>o[0]=='material--2');\n        if(it2){\n            var str = it2[1].join(\"\");\n            var it3 = pld.find(o=>o[0]=='material_num--2');\n            var num = it3[1].join(\"\");\n            arr[1]={code:str,num:num};\n        } \n        var it2 = pld.find(o=>o[0]=='material--3');\n        if(it2){\n            var str = it2[1].join(\"\");\n            var it3 = pld.find(o=>o[0]=='material_num--3');\n            var num = it3[1].join(\"\");\n            arr[2]={code:str,num:num};\n        }\n        var it2 = pld.find(o=>o[0]=='material--4');\n        if(it2){\n            var str = it2[1].join(\"\");\n            var it3 = pld.find(o=>o[0]=='material_num--4');\n            var num = it3[1].join(\"\");\n            arr[3]={code:str,num:num};\n        }         \n        data['materials']=arr;  \n    }\n}\nif(data.status==3){\n    var it = pld.find(o=>o[0]=='time_check');\n    if(!it){\n        msg.error = 'no time_check';\n        return msg;\n    }\n    var str = it[1].join(\"\");\n    if(str.length<6){\n        msg.error = 'time_handle length less than 6';\n        return msg;\n    }\n    data['time_check']=getTimeStr(str);      \n    if(true){\n        var b1 = pld.find(o=>o[0]=='handle_attitude__1');\n        var b2 = pld.find(o=>o[0]=='handle_attitude__2');\n        var b3 = pld.find(o=>o[0]=='handle_attitude__3');\n        if(b1)data['handle_attitude']=1;\n        if(b2)data['handle_attitude']=2;\n        if(b3)data['handle_attitude']=3; \n    } \n    if(true){\n        var b1 = pld.find(o=>o[0]=='handle_speed__1');\n        var b2 = pld.find(o=>o[0]=='handle_speed__2');\n        var b3 = pld.find(o=>o[0]=='handle_speed__3');\n        if(b1)data['handle_speed']=1;\n        if(b2)data['handle_speed']=2;\n        if(b3)data['handle_speed']=3; \n    } \n    if(true){\n        var b1 = pld.find(o=>o[0]=='result__1');\n        var b2 = pld.find(o=>o[0]=='result__2');\n        var b3 = pld.find(o=>o[0]=='result__3');\n        var b4 = pld.find(o=>o[0]=='result__4');        \n        if(b1)data['result']=1;\n        if(b2)data['result']=2;\n        if(b3)data['result']=3; \n        if(b4)data['result']=4;\n    }  \n    if(true){\n        var it2 = pld.find(o=>o[0]=='user_check');\n        if(!it2){\n            msg.error = 'no user_check';\n            return msg;\n        }\n        var str2 = it2[1].join(\"\");\n        data['user_check']=str2;  \n    }    \n}\nmsg.db = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":140,"wires":[["69f9eb1.c4a4f14"]]},{"id":"cd36ef4a.5e088","type":"function","z":"392cb56b.befe8a","name":"单据存在判断","func":"//msg.topics = [];\n//msg.payloads = [];\nmsg.payloads.push(msg.payload);\nmsg.topics.push(msg.topic);\n\nmsg.topic = \"select * from device_breakdown where code = '\"+msg.db.code+\"' \";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":280,"wires":[["4c3316ee.f71aa8"]]},{"id":"69f9eb1.c4a4f14","type":"switch","z":"392cb56b.befe8a","name":"","property":"error","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":140,"wires":[["1566cfdf.88e27"],["13c747d7.95d8f8"]]},{"id":"4c3316ee.f71aa8","type":"mysql","z":"392cb56b.befe8a","mydb":"37488f19.87758","name":"","x":630,"y":280,"wires":[["cdb300a5.1468e"]]},{"id":"cdb300a5.1468e","type":"switch","z":"392cb56b.befe8a","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":280,"wires":[["8c51738c.d4dbd","516f8424.a4247c"],["f63e668f.666a98"]]},{"id":"8c51738c.d4dbd","type":"function","z":"392cb56b.befe8a","name":"单据更新","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":300,"wires":[[]]},{"id":"f63e668f.666a98","type":"function","z":"392cb56b.befe8a","name":"新增故障维修记录","func":"msg.payloads.push(msg.payload);\nmsg.topics.push(msg.topic);\n\nlet uuid = global.get('uuid');\nlet db = msg.db;\ndb['id'] = uuid.v4();\nkeys = [];\nvalues = [];\n\nif(db['code']){\n    keys.push(\"code\");\n    values.push(\"'\"+db['code']+\"'\");\n}\nif(db['id']){\n    keys.push(\"id\");\n    values.push(\"'\"+db['id']+\"'\");\n}\nif(db['time_report']){\n    keys.push(\"time_report\");\n    values.push(\"'\"+db['time_report']+\"'\");\n}\nif(db['time_handle']){\n    keys.push(\"time_handle\");\n    values.push(\"'\"+db['time_handle']+\"'\");\n}\nif(db['time_check']){\n    keys.push(\"time_check\");\n    values.push(\"'\"+db['time_check']+\"'\");\n}\nif(db['appearances']){\n    keys.push(\"appearances\");\n    values.push(\"'\"+db['appearances']+\"'\");\n}\nif(db['causes']){\n    keys.push(\"causes\");\n    values.push(\"'\"+db['causes']+\"'\");\n}\nif(db['device']){\n    keys.push(\"device\");\n    values.push(\"'\"+db['device_id']+\"'\");\n}\nif(db['user_report']){\n    keys.push(\"user_report\");\n    values.push(\"'\"+db['user_report_id']+\"'\");\n}\nif(db['user_assign']){\n    keys.push(\"user_assign\");\n    values.push(\"'\"+db['user_assign_id']+\"'\");\n}\nif(db['user_check']){\n    keys.push(\"user_check\");\n    values.push(\"'\"+db['user_check_id']+\"'\");\n}\nif(db['urgency']){\n    keys.push(\"urgency\");\n    values.push(\"'\"+db['urgency']+\"'\");\n}\nif(db['result']){\n    keys.push(\"result\");\n    values.push(\"'\"+db['result']+\"'\");\n}\nif(db['loss']){\n    keys.push(\"loss\");\n    values.push(\"'\"+db['loss']+\"'\");\n}\nif(db['critical']){\n    keys.push(\"critical\");\n    values.push(\"'\"+db['critical']+\"'\");\n}\nif(db['handle_attitude']){\n    keys.push(\"handle_attitude\");\n    values.push(\"'\"+db['handle_attitude']+\"'\");\n}\nif(db['handle_speed']){\n    keys.push(\"handle_speed\");\n    values.push(\"'\"+db['handle_speed']+\"'\");\n}\nif(true){\n    keys.push(\"time_created\");\n    values.push(\"now()\");\n    keys.push(\"time_lastupdated\");\n    values.push(\"now()\");    \n}\n\nlet sql = \"insert into device_breakdown (\";\nlet sql2 = \")values(\";\nsql += keys.join(\",\");\nsql2 += values.join(\",\");\nsql = sql+sql2+\");\";\nmsg.topic = sql;\nmsg.uuid = db['id'];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":360,"wires":[["21d0b609.81aa2a"]]},{"id":"12665266.0757ee","type":"function","z":"50cb570c.c80dd8","name":"","func":"var username = msg.payload;\nmsg.topic = \"select * from basic_user where username = '\"+username+\"'\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":100,"wires":[["9a53b4bb.a468a8"]]},{"id":"9a53b4bb.a468a8","type":"mysql","z":"50cb570c.c80dd8","mydb":"37488f19.87758","name":"","x":330,"y":100,"wires":[["ebdeb20d.5ddd2"]]},{"id":"ebdeb20d.5ddd2","type":"switch","z":"50cb570c.c80dd8","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":100,"wires":[["5a9ab98d.8135b8"],["fb8f7c95.9acfc"]]},{"id":"5a9ab98d.8135b8","type":"function","z":"50cb570c.c80dd8","name":"有","func":"\nmsg.user = msg.payload[0];\nmsg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":80,"wires":[[]]},{"id":"fb8f7c95.9acfc","type":"function","z":"50cb570c.c80dd8","name":"没有","func":"\nmsg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":120,"wires":[[]]},{"id":"13c747d7.95d8f8","type":"function","z":"392cb56b.befe8a","name":"数据合法性检查","func":"let db = msg.db;\nlet connection = msg.conn;\nvar err = false;\nlet errors = '';\n\nif( db['user_report']){\n\tconnection.query(\"SELECT * from basic_user where username = '\"+db['user_report']+\"'\", \n\tfunction (error, results, fields) {\n\t\tif (error) console.debug(error); \n\t\tif(results.length==0){\n\t\t\terr = true;\n\t\t\terrors += ',no user_report';\n\t\t}\n\t\telse{\n\t\t    db['user_report_id'] = results[0].id;\n\t\t}\n\t});\n}\n\n\nif( db['user_assign']){\n    connection.query(\"SELECT * from basic_user where username = '\"+db['user_assign']+\"'\", \n    function (error, results, fields) {\n        if (error) throw error;\n        if(results.length==0){\n            err = true;\n            errors += ',no user_assign';\n        }\n\t\telse{\n\t\t    db['user_assign_id'] = results[0].id;\n\t\t}        \n    });\n}\n\nif( db['user_check']){\n    connection.query(\"SELECT * from basic_user where username = '\"+db['user_check']+\"'\", \n    function (error, results, fields) {\n        if (error) throw error;\n        if(results.length==0){\n            err = true;\n            errors += ',no user_check';\n        }\n\t\telse{\n\t\t    db['user_check_id'] = results[0].id;\n\t\t}        \n    });\n}\n\nif( db['device']){\n    connection.query(\"SELECT * from device where code = '\"+db['device']+\"'\", \n    function (error, results, fields) {\n        if (error) throw error;\n        if(results.length==0){\n            err = true;\n            errors += ',no device';\n        }\n\t\telse{\n\t\t    db['device_id'] = results[0].id;\n\t\t}          \n    });\n}\n\nif( db['materials']){\n    let arr = db['materials'];\n    for(let i=0;i<arr.length;i++){\n        if(err)break;\n        if(arr[i].code==0)continue;\n        connection.query(\"SELECT * from supply_material where code = '\"+arr[i].code+\"'\", \n        function (error, results, fields) {\n            if (error) throw error;\n            if(results.length==0){\n                err = true;\n                errors += ',no material'+arr[i].code;\n            }\n            else{\n                arr[i] = {id: results[0].id, code: arr[i].code, num: arr[i].num};\n            }\n        }); \n    }\n}\n\nif( db['user_handles']){\n    let arr = db['user_handles'];\n    for(let i=0;i<arr.length;i++){\n        if(err)break;\n        if(arr[i].code==0)continue;\n        connection.query(\"SELECT * from basic_user where username = '\"+arr[i].code+\"'\", \n        function (error, results, fields) {\n            if (error) throw error;\n            \n            if(results.length==0){\n                err = true;\n                console.debug(error);\n                errors += ',no user'+arr[i].code;\n            }else{\n                arr[i] = {id: results[0].id, code: arr[i].code};\n            }\n        }); \n    }\n}\n\nsetTimeout(function(){\n\t//connection.destroy();\n\tif(err){\n\t    msg.error = errors;\n\t}\n\tnode.send( msg );\n},500);\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":200,"wires":[["e759297a.4afd98"]]},{"id":"e759297a.4afd98","type":"switch","z":"392cb56b.befe8a","name":"","property":"error","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":200,"wires":[["4d5f7c8d.8449e4"],["cd36ef4a.5e088"]]},{"id":"4c21ec38.225914","type":"inject","z":"392cb56b.befe8a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":40,"wires":[["1409a9d2.ef9526"]]},{"id":"1409a9d2.ef9526","type":"change","z":"392cb56b.befe8a","name":"","rules":[{"t":"set","p":"mysqlip","pt":"global","to":"127.0.0.1","tot":"str"},{"t":"set","p":"mysqldb","pt":"global","to":"mes","tot":"str"},{"t":"set","p":"mysqlunm","pt":"global","to":"user1","tot":"str"},{"t":"set","p":"mysqlpwd","pt":"global","to":"user1","tot":"str"},{"t":"set","p":"port","pt":"global","to":"3308","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":40,"wires":[["2f3d2f4f.ce797"]]},{"id":"4d5f7c8d.8449e4","type":"debug","z":"392cb56b.befe8a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":200,"wires":[]},{"id":"1566cfdf.88e27","type":"debug","z":"392cb56b.befe8a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":40,"wires":[]},{"id":"21506eb8.a25152","type":"function","z":"392cb56b.befe8a","name":"维修人员记录","func":"msg.payloads.push(msg.payload);\nmsg.topics.push(msg.topic);\nconst id = msg.uuid;\nlet db = msg.db;\nlet users = db.user_handles;\nvar sqls = '';\nfor(let i=0;i<users.length;i++){\n    if(users[i].code!=0){\n        sqls += \"insert into device_breakdown_handler(b,u) values ('\"+id+\"','\"+users[i].id+\"');\";\n    }\n}\nmsg.topic = sqls;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":360,"wires":[["3cc1cda0.91fe22"]]},{"id":"21d0b609.81aa2a","type":"mysql","z":"392cb56b.befe8a","mydb":"37488f19.87758","name":"","x":630,"y":360,"wires":[["21506eb8.a25152"]]},{"id":"516f8424.a4247c","type":"debug","z":"392cb56b.befe8a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1050,"y":200,"wires":[]},{"id":"3cc1cda0.91fe22","type":"mysql","z":"392cb56b.befe8a","mydb":"37488f19.87758","name":"","x":950,"y":360,"wires":[["e07cdae7.1767d8"]]},{"id":"e07cdae7.1767d8","type":"function","z":"392cb56b.befe8a","name":"易损件使用记录","func":"msg.payloads.push(msg.payload);\nmsg.topics.push(msg.topic);\nconst id = msg.uuid;\nlet db = msg.db;\nlet materials = db.materials;\nvar sqls = '';\nfor(let i=0;i<materials.length;i++){\n    if(materials[i].code!=0){\n        sqls += \"insert into device_breakdown_consume(b,m,num) values ('\"+id+\"','\"+materials[i].id+\"','\"+materials[i].num+\"');\";\n    }\n}\nmsg.topic = sqls;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":440,"wires":[["9d04cda5.e0338"]]},{"id":"9d04cda5.e0338","type":"mysql","z":"392cb56b.befe8a","mydb":"37488f19.87758","name":"","x":630,"y":440,"wires":[[]]},{"id":"2e36f8ed.e11558","type":"exec","z":"a3148e2c.f9f36","command":"python G:\\project\\photo-MES\\demo\\produce\\read_photo.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"opencv识别","x":250,"y":140,"wires":[["335f1c0a.46f144"],["ca3512b9.f75c"],["2412a225.c7db2e"]]},{"id":"e44d5b85.e680f8","type":"inject","z":"a3148e2c.f9f36","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"payloads","v":"[]","vt":"jsonata"},{"p":"topics","v":"[]","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"select remark from basic_template where code = '0507'","payload":"","payloadType":"str","x":90,"y":40,"wires":[["427b3710.bf67b8"]]},{"id":"427b3710.bf67b8","type":"mysql","z":"a3148e2c.f9f36","mydb":"37488f19.87758","name":"","x":110,"y":80,"wires":[["2df5dd5c.402312"]]},{"id":"2df5dd5c.402312","type":"switch","z":"a3148e2c.f9f36","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":80,"wires":[["fc525d76.448cd"],[]]},{"id":"fc525d76.448cd","type":"json","z":"a3148e2c.f9f36","name":"","property":"payload[0].remark","action":"","pretty":false,"x":430,"y":40,"wires":[["58511260.b4e03c"]]},{"id":"ca3512b9.f75c","type":"debug","z":"a3148e2c.f9f36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":230,"y":200,"wires":[]},{"id":"2412a225.c7db2e","type":"debug","z":"a3148e2c.f9f36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":230,"y":240,"wires":[]},{"id":"c4b1cc2b.d2ec8","type":"inject","z":"a3148e2c.f9f36","name":"","props":[{"p":"kill","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":140,"wires":[["2e36f8ed.e11558"]]},{"id":"f643ee4d.6d179","type":"function","z":"a3148e2c.f9f36","name":"字段识别","func":"var getTimeStr = global.get(\"getTimeStr\")\nvar data = {\n    status:0,\n    code:0,\n\tclass:0,\n};\nvar pld = msg.payload;\nvar s1 = pld.find(o=>o[1]=='state-1');\nnode.error(s1);\nvar s2 = pld.find(o=>o[1]=='state-2');\nvar s3 = pld.find(o=>o[1]=='state-3');\nvar s4 = pld.find(o=>o[1]=='state-4');\nif(s1)data['status']=1;\nif(s2)data['status']=2;\nif(s3)data['status']=3;\nif(s4)data['status']=4;\n\nvar c1 = pld.find(o=>o[1]=='class-1');\nvar c2 = pld.find(o=>o[1]=='class-2');\nvar c3 = pld.find(o=>o[1]=='class-3');\nif(c1)data['class']=1;\nif(c2)data['class']=2;\nif(c3)data['class']=3;\n\n\nif(data.status==0){\n    msg.error = 'no status';\n    return msg;\n}\nif(true){\n\tvar it = pld.find(o=>o[1]=='code');\n\tif(!it){\n\t\tmsg.error = 'no code';\n\t\treturn msg;\n\t}\n\tvar str = it[0];\n\tdata['code']=str;\n}\nif(true){\n\tvar it = pld.find(o=>o[1]=='num_plan');\n\tif(!it){\n\t\tmsg.error = 'no num_plan';\n\t\treturn msg;\n\t}\n\tvar str = it[0];\n\tdata['num_plan']=str;\n}\nif(true){\n\tvar it = pld.find(o=>o[1]=='time_start');\n\tif(!it){\n\t\tmsg.error = 'no time_start';\n\t\treturn msg;\n\t}\n\tvar str = it[0];\n\tif(str.length<6){\n\t\tmsg.error = 'time_start length less than 6';\n\t\treturn msg;\n\t}\n\tdata['time_start']=getTimeStr(str);\n}\n\nif(true){\n\tvar it2 = pld.find(o=>o[1]=='product');\n\tif(!it2){\n\t\tmsg.error = 'no product';\n\t\treturn msg;\n\t}\n\tvar str2 = it2[0];\n\tdata['product']=str2;\n}\nif(true){\n\tvar it2 = pld.find(o=>o[1]=='planer');\n\tif(!it2){\n\t\tmsg.error = 'no planer';\n\t\treturn msg;\n\t}\n\tvar str2 = it2[0];\n\tdata['planer']=str2;  \n}\nif(true){\n\tvar it2 = pld.find(o=>o[1]=='qc');\n\tif(it2){\n\t\tvar str2 = it2[0];\n\t\tdata['qc']=str2;  \n\t}\n} \nif(true){\n\tvar it2 = pld.find(o=>o[1]=='process');\n\tif(it2){\n\t\tvar str2 = it2[0];\n\t\tdata['process']=str2;  \n\t}\n} \nif(true){\n\tvar it2 = pld.find(o=>o[1]=='manager');\n\tif(it2){\n\t\tvar str2 = it2[0];\n\t\tdata['manager']=str2;  \n\t}\n} \nif(true){\n\tvar it2 = pld.find(o=>o[1]=='check');\n\tif(it2){\n\t\tvar str2 = it2[0];\n\t\tdata['check']=str2;  \n\t}\n}\nif(true){\n\tvar it2 = pld.find(o=>o[1]=='bag');\n\tif(it2){\n\t\tvar str2 = it2[0];\n\t\tdata['bag']=str2;  \n\t}\n}\nif(true){\n\tvar it2 = pld.find(o=>o[1]=='production');\n\tif(it2){\n\t\tvar str2 = it2[0];\n\t\tdata['production']=str2;  \n\t}\n}\nif(true){\n\tvar it2 = pld.find(o=>o[1]=='time_done');\n\tif(it2){\n\t\tvar str = it2[0];\n\t\tif(str.length<6){\n\t\t\tmsg.error = 'time_done length less than 6';\n\t\t\treturn msg;\n\t\t}\n\t\tdata['time_done']=getTimeStr(str);\n\t}\n}\n\nif(true){\n    for(var i=1;i<=12;i++){\n    \tvar it2 = pld.find(o=>o[1]=='device--'+i);\n    \tif(it2){\n    \t\tvar str = it2[0];\n    \t\tdata['device--'+i]=str;\n    \t}\n    \t\n    \tvar it3 = pld.find(o=>o[1]=='bad--'+i);\n    \tif(it3){\n    \t\tvar str = it3[0];\n    \t\tdata['bad--'+i]=str;\n    \t}  \n    \t\n    \tvar it4 = pld.find(o=>o[1]=='back--'+i);\n    \tif(it4){\n    \t\tvar str = it4[0];\n    \t\tdata['back--'+i]=str;\n    \t} \n    \t\n    \tvar it5 = pld.find(o=>o[1]=='worker--'+i);\n    \tif(it5){\n    \t\tvar str = it5[0];\n    \t\tdata['worker--'+i]=str;\n    \t}  \n    \t\n    \tvar it6 = pld.find(o=>o[1]=='production--'+i);\n    \tif(it6){\n    \t\tvar str = it6[0];\n    \t\tdata['production--'+i]=str;\n    \t}     \t\n    }\n\n}\n\n\nmsg.db = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":140,"wires":[["8410a220.3b39c"]]},{"id":"7d8cac9f.7fa2c4","type":"function","z":"a3148e2c.f9f36","name":"单据存在判断","func":"//msg.topics = [];\n//msg.payloads = [];\nmsg.payloads.push(msg.payload);\nmsg.topics.push(msg.topic);\n\nmsg.topic = \"select * from produce where code = '\"+msg.db.code+\"' \";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":280,"wires":[["6495cf3a.aee4d"]]},{"id":"8410a220.3b39c","type":"switch","z":"a3148e2c.f9f36","name":"","property":"error","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":140,"wires":[["646e20b8.c0f7a"],["6c3b0a31.eacf94"]]},{"id":"6495cf3a.aee4d","type":"mysql","z":"a3148e2c.f9f36","mydb":"37488f19.87758","name":"","x":630,"y":280,"wires":[["5c8ea378.baed5c"]]},{"id":"5c8ea378.baed5c","type":"switch","z":"a3148e2c.f9f36","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":280,"wires":[["991bf142.67e64","f8c87ef0.a5bd3"],[]]},{"id":"991bf142.67e64","type":"function","z":"a3148e2c.f9f36","name":"单据更新","func":"\n\nmsg.topic = \"update  produce set count_updated = count_updated + 1, time_lastupdated = now() where id = '\"+msg.payload[0].id+\"';delete from produce_material  p = '\"+msg.payload[0].id+\"';delete from produce_worker  p = '\"+msg.payload[0].id+\"';  \";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":280,"wires":[["7d625f67.c91cd"]]},{"id":"ed8b4450.4f5db8","type":"function","z":"a3148e2c.f9f36","name":"新增故障维修记录","func":"msg.payloads.push(msg.payload);\nmsg.topics.push(msg.topic);\n\nlet uuid = global.get('uuid');\nlet db = msg.db;\ndb['id'] = uuid.v4();\nkeys = [];\nvalues = [];\n\nif(db['code']){\n    keys.push(\"code\");\n    values.push(\"'\"+db['code']+\"'\");\n}\nif(db['id']){\n    keys.push(\"id\");\n    values.push(\"'\"+db['id']+\"'\");\n}\nif(db['time_report']){\n    keys.push(\"time_report\");\n    values.push(\"'\"+db['time_report']+\"'\");\n}\nif(db['time_handle']){\n    keys.push(\"time_handle\");\n    values.push(\"'\"+db['time_handle']+\"'\");\n}\nif(db['time_check']){\n    keys.push(\"time_check\");\n    values.push(\"'\"+db['time_check']+\"'\");\n}\nif(db['appearances']){\n    keys.push(\"appearances\");\n    values.push(\"'\"+db['appearances']+\"'\");\n}\nif(db['causes']){\n    keys.push(\"causes\");\n    values.push(\"'\"+db['causes']+\"'\");\n}\nif(db['device']){\n    keys.push(\"device\");\n    values.push(\"'\"+db['device_id']+\"'\");\n}\nif(db['user_report']){\n    keys.push(\"user_report\");\n    values.push(\"'\"+db['user_report_id']+\"'\");\n}\nif(db['user_assign']){\n    keys.push(\"user_assign\");\n    values.push(\"'\"+db['user_assign_id']+\"'\");\n}\nif(db['user_check']){\n    keys.push(\"user_check\");\n    values.push(\"'\"+db['user_check_id']+\"'\");\n}\nif(db['urgency']){\n    keys.push(\"urgency\");\n    values.push(\"'\"+db['urgency']+\"'\");\n}\nif(db['result']){\n    keys.push(\"result\");\n    values.push(\"'\"+db['result']+\"'\");\n}\nif(db['loss']){\n    keys.push(\"loss\");\n    values.push(\"'\"+db['loss']+\"'\");\n}\nif(db['critical']){\n    keys.push(\"critical\");\n    values.push(\"'\"+db['critical']+\"'\");\n}\nif(db['handle_attitude']){\n    keys.push(\"handle_attitude\");\n    values.push(\"'\"+db['handle_attitude']+\"'\");\n}\nif(db['handle_speed']){\n    keys.push(\"handle_speed\");\n    values.push(\"'\"+db['handle_speed']+\"'\");\n}\nif(true){\n    keys.push(\"time_created\");\n    values.push(\"now()\");\n    keys.push(\"time_lastupdated\");\n    values.push(\"now()\");    \n}\n\nlet sql = \"insert into device_breakdown (\";\nlet sql2 = \")values(\";\nsql += keys.join(\",\");\nsql2 += values.join(\",\");\nsql = sql+sql2+\");\";\nmsg.topic = sql;\nmsg.uuid = db['id'];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":420,"wires":[["d63055c9.fc5ad8"]]},{"id":"6c3b0a31.eacf94","type":"function","z":"a3148e2c.f9f36","name":"数据检查","func":"let db = msg.db;\nlet connection = msg.conn;\nvar err = false;\nlet errors = '';\n\nif( db['qc']){\n\tconnection.query(\"SELECT * from basic_user where username = '\"+db['qc']+\"'\", \n\tfunction (error, results, fields) {\n\t\tif (error) console.debug(error); \n\t\tif(results.length==0){\n\t\t\terr = true;\n\t\t\terrors += ',no qc'+db['qc'];\n\t\t}\n\t\telse{\n\t\t    delete(db['qc']);\n\t\t    db['user_qc'] = results[0].id;\n\t\t}\n\t});\n}\n\n\nif( db['planer']){\n\tconnection.query(\"SELECT * from basic_user where username = '\"+db['planer']+\"'\", \n\tfunction (error, results, fields) {\n\t\tif (error) console.debug(error); \n\t\tif(results.length==0){\n\t\t\terr = true;\n\t\t\terrors += ',no planer'+db['planer'];\n\t\t}\n\t\telse{\n\t\t    delete(db['planer']);\n\t\t    db['user_planer'] = results[0].id;\n\t\t}\n\t});\n}\n\nif( db['process']){\n\tconnection.query(\"SELECT * from basic_user where username = '\"+db['process']+\"'\", \n\tfunction (error, results, fields) {\n\t\tif (error) console.debug(error); \n\t\tif(results.length==0){\n\t\t\terr = true;\n\t\t\terrors += ',no process'+db['process'];\n\t\t}\n\t\telse{\n\t\t    delete(db['process']);\n\t\t    db['user_process'] = results[0].id;\n\t\t}\n\t});\n}\n\nif( db['manager']){\n\tconnection.query(\"SELECT * from basic_user where username = '\"+db['manager']+\"'\", \n\tfunction (error, results, fields) {\n\t\tif (error) console.debug(error); \n\t\tif(results.length==0){\n\t\t\terr = true;\n\t\t\terrors += ',no manager'+db['manager'];\n\t\t}\n\t\telse{\n\t\t    delete(db['manager']);\n\t\t    db['user_manager'] = results[0].id;\n\t\t}\n\t});\n}\n\nif( db['check']){\n\tconnection.query(\"SELECT * from basic_user where username = '\"+db['check']+\"'\", \n\tfunction (error, results, fields) {\n\t\tif (error) console.debug(error); \n\t\tif(results.length==0){\n\t\t\terr = true;\n\t\t\terrors += ',no check'+db['check'];\n\t\t}\n\t\telse{\n\t\t    delete(db['check']);\n\t\t    db['user_check'] = results[0].id;\n\t\t}\n\t});\n}\n\nif( db['product']){\n\tconnection.query(\"SELECT * from rd_product where code = '\"+db['product']+\"'\", \n\tfunction (error, results, fields) {\n\t\tif (error) console.debug(error); \n\t\tif(results.length==0){\n\t\t\terr = true;\n\t\t\terrors += ',no product'+db['product'];\n\t\t}\n\t\telse{\n\t\t    delete(db['product']);\n\t\t    db['product'] = results[0].id;\n\t\t}\n\t});\n}\n\nvar stations = [];\n\nif( db['device--1']){\n connection.query(\"SELECT * from device where code = '\"+db['device--1']+\"'\", \n function (error, results, fields) {\n  \n  var station = {};\n  if (error) console.debug(error); \n  if(results.length==0){\n   err = true;\n   errors += ',no device'+db['device--1'];\n  }\n  else{\n   delete(db['device--1']);\n   station['d'] = results[0].id;\n   \n   if( !(db['worker--1']) ){\n    err = true;\n    errors += ',need worker 1';\n   }\n   else{\n    connection.query(\"SELECT * from basic_user where username = '\"+db['worker--1']+\"'\", \n    function (error, results, fields) {\n     if (error) console.debug(error); \n     if(results.length==0){\n      err = true;\n      errors += ',no worker '+db['worker--1'];\n     }\n     else{\n      delete(db['worker--1']);\n      station['w'] = results[0].id;\n      station['job'] = '组长';\n      \n      if( !(db['production--1']) ){\n       err = true;\n       errors += ',need production 1';\n      }\n      else{  \n       station['num_production'] = db['production--1'];\n       delete(db['production--1']);\n      } \n      if( (db['bad--1']) ){  \n       station['num_bad'] = db['bad--1'];\n       delete(db['bad--1']);\n      }\n      if( (db['back--1']) ){  \n       station['num_back'] = db['back--1'];\n       delete(db['back--1']);\n      }\n      stations.append(station);     \n      \n     }\n    });\n   }    \n   \n  }\n });\n}\nif( db['device--2']){\n connection.query(\"SELECT * from device where code = '\"+db['device--2']+\"'\", \n function (error, results, fields) {\n  \n  var station = {};\n  if (error) console.debug(error); \n  if(results.length==0){\n   err = true;\n   errors += ',no device'+db['device--2'];\n  }\n  else{\n   delete(db['device--2']);\n   station['d'] = results[0].id;\n   \n   if( !(db['worker--2']) ){\n    err = true;\n    errors += ',need worker 2';\n   }\n   else{\n    connection.query(\"SELECT * from basic_user where username = '\"+db['worker--2']+\"'\", \n    function (error, results, fields) {\n     if (error) console.debug(error); \n     if(results.length==0){\n      err = true;\n      errors += ',no worker '+db['worker--2'];\n     }\n     else{\n      delete(db['worker--2']);\n      station['w'] = results[0].id;\n      station['job'] = '--';\n      \n      if( !(db['production--2']) ){\n       err = true;\n       errors += ',need production 2';\n      }\n      else{  \n       station['num_production'] = db['production--2'];\n       delete(db['production--2']);\n      } \n      if( (db['bad--2']) ){  \n       station['num_bad'] = db['bad--2'];\n       delete(db['bad--2']);\n      }\n      if( (db['back--2']) ){  \n       station['num_back'] = db['back--2'];\n       delete(db['back--2']);\n      }\n      stations.append(station);     \n      \n     }\n    });\n   }    \n   \n  }\n });\n}\nif( db['device--3']){\n connection.query(\"SELECT * from device where code = '\"+db['device--3']+\"'\", \n function (error, results, fields) {\n  \n  var station = {};\n  if (error) console.debug(error); \n  if(results.length==0){\n   err = true;\n   errors += ',no device'+db['device--3'];\n  }\n  else{\n   delete(db['device--3']);\n   station['d'] = results[0].id;\n   \n   if( !(db['worker--3']) ){\n    err = true;\n    errors += ',need worker 3';\n   }\n   else{\n    connection.query(\"SELECT * from basic_user where username = '\"+db['worker--3']+\"'\", \n    function (error, results, fields) {\n     if (error) console.debug(error); \n     if(results.length==0){\n      err = true;\n      errors += ',no worker '+db['worker--3'];\n     }\n     else{\n      delete(db['worker--3']);\n      station['w'] = results[0].id;\n      station['job'] = '--';\n      \n      if( !(db['production--3']) ){\n       err = true;\n       errors += ',need production 3';\n      }\n      else{  \n       station['num_production'] = db['production--3'];\n       delete(db['production--3']);\n      } \n      if( (db['bad--3']) ){  \n       station['num_bad'] = db['bad--3'];\n       delete(db['bad--3']);\n      }\n      if( (db['back--3']) ){  \n       station['num_back'] = db['back--3'];\n       delete(db['back--3']);\n      }\n      stations.append(station);     \n      \n     }\n    });\n   }    \n   \n  }\n });\n}\nif( db['device--4']){\n connection.query(\"SELECT * from device where code = '\"+db['device--4']+\"'\", \n function (error, results, fields) {\n  \n  var station = {};\n  if (error) console.debug(error); \n  if(results.length==0){\n   err = true;\n   errors += ',no device'+db['device--4'];\n  }\n  else{\n   delete(db['device--4']);\n   station['d'] = results[0].id;\n   \n   if( !(db['worker--4']) ){\n    err = true;\n    errors += ',need worker 4';\n   }\n   else{\n    connection.query(\"SELECT * from basic_user where username = '\"+db['worker--4']+\"'\", \n    function (error, results, fields) {\n     if (error) console.debug(error); \n     if(results.length==0){\n      err = true;\n      errors += ',no worker '+db['worker--4'];\n     }\n     else{\n      delete(db['worker--4']);\n      station['w'] = results[0].id;\n      station['job'] = '--';\n      \n      if( !(db['production--4']) ){\n       err = true;\n       errors += ',need production 4';\n      }\n      else{  \n       station['num_production'] = db['production--4'];\n       delete(db['production--4']);\n      } \n      if( (db['bad--4']) ){  \n       station['num_bad'] = db['bad--4'];\n       delete(db['bad--4']);\n      }\n      if( (db['back--4']) ){  \n       station['num_back'] = db['back--4'];\n       delete(db['back--4']);\n      }\n      stations.append(station);     \n      \n     }\n    });\n   }    \n   \n  }\n });\n}\nif( db['device--5']){\n connection.query(\"SELECT * from device where code = '\"+db['device--5']+\"'\", \n function (error, results, fields) {\n  \n  var station = {};\n  if (error) console.debug(error); \n  if(results.length==0){\n   err = true;\n   errors += ',no device'+db['device--5'];\n  }\n  else{\n   delete(db['device--5']);\n   station['d'] = results[0].id;\n   \n   if( !(db['worker--5']) ){\n    err = true;\n    errors += ',need worker 5';\n   }\n   else{\n    connection.query(\"SELECT * from basic_user where username = '\"+db['worker--5']+\"'\", \n    function (error, results, fields) {\n     if (error) console.debug(error); \n     if(results.length==0){\n      err = true;\n      errors += ',no worker '+db['worker--5'];\n     }\n     else{\n      delete(db['worker--5']);\n      station['w'] = results[0].id;\n      station['job'] = '--';\n      \n      if( !(db['production--5']) ){\n       err = true;\n       errors += ',need production 5';\n      }\n      else{  \n       station['num_production'] = db['production--5'];\n       delete(db['production--5']);\n      } \n      if( (db['bad--5']) ){  \n       station['num_bad'] = db['bad--5'];\n       delete(db['bad--5']);\n      }\n      if( (db['back--5']) ){  \n       station['num_back'] = db['back--5'];\n       delete(db['back--5']);\n      }\n      stations.append(station);     \n      \n     }\n    });\n   }    \n   \n  }\n });\n}\nif( db['device--6']){\n connection.query(\"SELECT * from device where code = '\"+db['device--6']+\"'\", \n function (error, results, fields) {\n  \n  var station = {};\n  if (error) console.debug(error); \n  if(results.length==0){\n   err = true;\n   errors += ',no device'+db['device--6'];\n  }\n  else{\n   delete(db['device--6']);\n   station['d'] = results[0].id;\n   \n   if( !(db['worker--6']) ){\n    err = true;\n    errors += ',need worker 6';\n   }\n   else{\n    connection.query(\"SELECT * from basic_user where username = '\"+db['worker--6']+\"'\", \n    function (error, results, fields) {\n     if (error) console.debug(error); \n     if(results.length==0){\n      err = true;\n      errors += ',no worker '+db['worker--6'];\n     }\n     else{\n      delete(db['worker--6']);\n      station['w'] = results[0].id;\n      station['job'] = '--';\n      \n      if( !(db['production--6']) ){\n       err = true;\n       errors += ',need production 6';\n      }\n      else{  \n       station['num_production'] = db['production--6'];\n       delete(db['production--6']);\n      } \n      if( (db['bad--6']) ){  \n       station['num_bad'] = db['bad--6'];\n       delete(db['bad--6']);\n      }\n      if( (db['back--6']) ){  \n       station['num_back'] = db['back--6'];\n       delete(db['back--6']);\n      }\n      stations.append(station);     \n      \n     }\n    });\n   }    \n   \n  }\n });\n}\nif( db['device--7']){\n connection.query(\"SELECT * from device where code = '\"+db['device--7']+\"'\", \n function (error, results, fields) {\n  \n  var station = {};\n  if (error) console.debug(error); \n  if(results.length==0){\n   err = true;\n   errors += ',no device'+db['device--7'];\n  }\n  else{\n   delete(db['device--7']);\n   station['d'] = results[0].id;\n   \n   if( !(db['worker--7']) ){\n    err = true;\n    errors += ',need worker 7';\n   }\n   else{\n    connection.query(\"SELECT * from basic_user where username = '\"+db['worker--7']+\"'\", \n    function (error, results, fields) {\n     if (error) console.debug(error); \n     if(results.length==0){\n      err = true;\n      errors += ',no worker '+db['worker--7'];\n     }\n     else{\n      delete(db['worker--7']);\n      station['w'] = results[0].id;\n      station['job'] = '--';\n      \n      if( !(db['production--7']) ){\n       err = true;\n       errors += ',need production 7';\n      }\n      else{  \n       station['num_production'] = db['production--7'];\n       delete(db['production--7']);\n      } \n      if( (db['bad--7']) ){  \n       station['num_bad'] = db['bad--7'];\n       delete(db['bad--7']);\n      }\n      if( (db['back--7']) ){  \n       station['num_back'] = db['back--7'];\n       delete(db['back--7']);\n      }\n      stations.append(station);     \n      \n     }\n    });\n   }    \n   \n  }\n });\n}\nif( db['device--8']){\n connection.query(\"SELECT * from device where code = '\"+db['device--8']+\"'\", \n function (error, results, fields) {\n  \n  var station = {};\n  if (error) console.debug(error); \n  if(results.length==0){\n   err = true;\n   errors += ',no device'+db['device--8'];\n  }\n  else{\n   delete(db['device--8']);\n   station['d'] = results[0].id;\n   \n   if( !(db['worker--8']) ){\n    err = true;\n    errors += ',need worker 8';\n   }\n   else{\n    connection.query(\"SELECT * from basic_user where username = '\"+db['worker--8']+\"'\", \n    function (error, results, fields) {\n     if (error) console.debug(error); \n     if(results.length==0){\n      err = true;\n      errors += ',no worker '+db['worker--8'];\n     }\n     else{\n      delete(db['worker--8']);\n      station['w'] = results[0].id;\n      station['job'] = '--';\n      \n      if( !(db['production--8']) ){\n       err = true;\n       errors += ',need production 8';\n      }\n      else{  \n       station['num_production'] = db['production--8'];\n       delete(db['production--8']);\n      } \n      if( (db['bad--8']) ){  \n       station['num_bad'] = db['bad--8'];\n       delete(db['bad--8']);\n      }\n      if( (db['back--8']) ){  \n       station['num_back'] = db['back--8'];\n       delete(db['back--8']);\n      }\n      stations.append(station);     \n      \n     }\n    });\n   }    \n   \n  }\n });\n}\nif( db['device--9']){\n connection.query(\"SELECT * from device where code = '\"+db['device--9']+\"'\", \n function (error, results, fields) {\n  \n  var station = {};\n  if (error) console.debug(error); \n  if(results.length==0){\n   err = true;\n   errors += ',no device'+db['device--9'];\n  }\n  else{\n   delete(db['device--9']);\n   station['d'] = results[0].id;\n   \n   if( !(db['worker--9']) ){\n    err = true;\n    errors += ',need worker 9';\n   }\n   else{\n    connection.query(\"SELECT * from basic_user where username = '\"+db['worker--9']+\"'\", \n    function (error, results, fields) {\n     if (error) console.debug(error); \n     if(results.length==0){\n      err = true;\n      errors += ',no worker '+db['worker--9'];\n     }\n     else{\n      delete(db['worker--9']);\n      station['w'] = results[0].id;\n      station['job'] = '--';\n      \n      if( !(db['production--9']) ){\n       err = true;\n       errors += ',need production 9';\n      }\n      else{  \n       station['num_production'] = db['production--9'];\n       delete(db['production--9']);\n      } \n      if( (db['bad--9']) ){  \n       station['num_bad'] = db['bad--9'];\n       delete(db['bad--9']);\n      }\n      if( (db['back--9']) ){  \n       station['num_back'] = db['back--9'];\n       delete(db['back--9']);\n      }\n      stations.append(station);     \n      \n     }\n    });\n   }    \n   \n  }\n });\n}\nif( db['device--10']){\n connection.query(\"SELECT * from device where code = '\"+db['device--10']+\"'\", \n function (error, results, fields) {\n  \n  var station = {};\n  if (error) console.debug(error); \n  if(results.length==0){\n   err = true;\n   errors += ',no device'+db['device--10'];\n  }\n  else{\n   delete(db['device--10']);\n   station['d'] = results[0].id;\n   \n   if( !(db['worker--10']) ){\n    err = true;\n    errors += ',need worker 10';\n   }\n   else{\n    connection.query(\"SELECT * from basic_user where username = '\"+db['worker--10']+\"'\", \n    function (error, results, fields) {\n     if (error) console.debug(error); \n     if(results.length==0){\n      err = true;\n      errors += ',no worker '+db['worker--10'];\n     }\n     else{\n      delete(db['worker--10']);\n      station['w'] = results[0].id;\n      station['job'] = '--';\n      \n      if( !(db['production--10']) ){\n       err = true;\n       errors += ',need production 10';\n      }\n      else{  \n       station['num_production'] = db['production--10'];\n       delete(db['production--10']);\n      } \n      if( (db['bad--10']) ){  \n       station['num_bad'] = db['bad--10'];\n       delete(db['bad--10']);\n      }\n      if( (db['back--10']) ){  \n       station['num_back'] = db['back--10'];\n       delete(db['back--10']);\n      }\n      stations.append(station);     \n      \n     }\n    });\n   }    \n   \n  }\n });\n}\nif( db['device--11']){\n connection.query(\"SELECT * from device where code = '\"+db['device--11']+\"'\", \n function (error, results, fields) {\n  \n  var station = {};\n  if (error) console.debug(error); \n  if(results.length==0){\n   err = true;\n   errors += ',no device'+db['device--11'];\n  }\n  else{\n   delete(db['device--11']);\n   station['d'] = results[0].id;\n   \n   if( !(db['worker--11']) ){\n    err = true;\n    errors += ',need worker 11';\n   }\n   else{\n    connection.query(\"SELECT * from basic_user where username = '\"+db['worker--11']+\"'\", \n    function (error, results, fields) {\n     if (error) console.debug(error); \n     if(results.length==0){\n      err = true;\n      errors += ',no worker '+db['worker--11'];\n     }\n     else{\n      delete(db['worker--11']);\n      station['w'] = results[0].id;\n      station['job'] = '--';\n      \n      if( !(db['production--11']) ){\n       err = true;\n       errors += ',need production 11';\n      }\n      else{  \n       station['num_production'] = db['production--11'];\n       delete(db['production--11']);\n      } \n      if( (db['bad--11']) ){  \n       station['num_bad'] = db['bad--11'];\n       delete(db['bad--11']);\n      }\n      if( (db['back--11']) ){  \n       station['num_back'] = db['back--11'];\n       delete(db['back--11']);\n      }\n      stations.append(station);     \n      \n     }\n    });\n   }    \n   \n  }\n });\n}\nif( db['device--12']){\n connection.query(\"SELECT * from device where code = '\"+db['device--12']+\"'\", \n function (error, results, fields) {\n  \n  var station = {};\n  if (error) console.debug(error); \n  if(results.length==0){\n   err = true;\n   errors += ',no device'+db['device--12'];\n  }\n  else{\n   delete(db['device--12']);\n   station['d'] = results[0].id;\n   \n   if( !(db['worker--12']) ){\n    err = true;\n    errors += ',need worker 12';\n   }\n   else{\n    connection.query(\"SELECT * from basic_user where username = '\"+db['worker--12']+\"'\", \n    function (error, results, fields) {\n     if (error) console.debug(error); \n     if(results.length==0){\n      err = true;\n      errors += ',no worker '+db['worker--12'];\n     }\n     else{\n      delete(db['worker--12']);\n      station['w'] = results[0].id;\n      station['job'] = '--';\n      \n      if( !(db['production--12']) ){\n       err = true;\n       errors += ',need production 12';\n      }\n      else{  \n       station['num_production'] = db['production--12'];\n       delete(db['production--12']);\n      } \n      if( (db['bad--12']) ){  \n       station['num_bad'] = db['bad--12'];\n       delete(db['bad--12']);\n      }\n      if( (db['back--12']) ){  \n       station['num_back'] = db['back--12'];\n       delete(db['back--12']);\n      }\n      stations.append(station);     \n      \n     }\n    });\n   }    \n   \n  }\n });\n}\nif( db['device--13']){\n connection.query(\"SELECT * from device where code = '\"+db['device--13']+\"'\", \n function (error, results, fields) {\n  \n  var station = {};\n  if (error) console.debug(error); \n  if(results.length==0){\n   err = true;\n   errors += ',no device'+db['device--13'];\n  }\n  else{\n   delete(db['device--13']);\n   station['d'] = results[0].id;\n   \n   if( !(db['worker--13']) ){\n    err = true;\n    errors += ',need worker 13';\n   }\n   else{\n    connection.query(\"SELECT * from basic_user where username = '\"+db['worker--13']+\"'\", \n    function (error, results, fields) {\n     if (error) console.debug(error); \n     if(results.length==0){\n      err = true;\n      errors += ',no worker '+db['worker--13'];\n     }\n     else{\n      delete(db['worker--13']);\n      station['w'] = results[0].id;\n      station['job'] = '--';\n      \n      if( !(db['production--13']) ){\n       err = true;\n       errors += ',need production 13';\n      }\n      else{  \n       station['num_production'] = db['production--13'];\n       delete(db['production--13']);\n      } \n      if( (db['bad--13']) ){  \n       station['num_bad'] = db['bad--13'];\n       delete(db['bad--13']);\n      }\n      if( (db['back--13']) ){  \n       station['num_back'] = db['back--13'];\n       delete(db['back--13']);\n      }\n      stations.append(station);     \n      \n     }\n    });\n   }    \n   \n  }\n });\n}\nif( db['device--14']){\n connection.query(\"SELECT * from device where code = '\"+db['device--14']+\"'\", \n function (error, results, fields) {\n  \n  var station = {};\n  if (error) console.debug(error); \n  if(results.length==0){\n   err = true;\n   errors += ',no device'+db['device--14'];\n  }\n  else{\n   delete(db['device--14']);\n   station['d'] = results[0].id;\n   \n   if( !(db['worker--14']) ){\n    err = true;\n    errors += ',need worker 14';\n   }\n   else{\n    connection.query(\"SELECT * from basic_user where username = '\"+db['worker--14']+\"'\", \n    function (error, results, fields) {\n     if (error) console.debug(error); \n     if(results.length==0){\n      err = true;\n      errors += ',no worker '+db['worker--14'];\n     }\n     else{\n      delete(db['worker--14']);\n      station['w'] = results[0].id;\n      station['job'] = '--';\n      \n      if( !(db['production--14']) ){\n       err = true;\n       errors += ',need production 14';\n      }\n      else{  \n       station['num_production'] = db['production--14'];\n       delete(db['production--14']);\n      } \n      if( (db['bad--14']) ){  \n       station['num_bad'] = db['bad--14'];\n       delete(db['bad--14']);\n      }\n      if( (db['back--14']) ){  \n       station['num_back'] = db['back--14'];\n       delete(db['back--14']);\n      }\n      stations.append(station);     \n      \n     }\n    });\n   }    \n   \n  }\n });\n}\n\n\n\n\nmsg.stations = stations;\n\n\n\nsetTimeout(function(){\n\t//connection.destroy();\n\tmsg.err = err;\n\tif(err){\n\t    msg.errors = errors;\n\t}\n\tnode.send( msg );\n},1500);\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":200,"wires":[["d487b6aa.9ae858","3e89cfc.7f9943"]]},{"id":"d487b6aa.9ae858","type":"switch","z":"a3148e2c.f9f36","name":"","property":"err","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":200,"wires":[["fb88c066.a1f21"],["7d8cac9f.7fa2c4"]]},{"id":"fb88c066.a1f21","type":"debug","z":"a3148e2c.f9f36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":200,"wires":[]},{"id":"646e20b8.c0f7a","type":"debug","z":"a3148e2c.f9f36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":40,"wires":[]},{"id":"56b72993.4c5618","type":"function","z":"a3148e2c.f9f36","name":"维修人员记录","func":"msg.payloads.push(msg.payload);\nmsg.topics.push(msg.topic);\nconst id = msg.uuid;\nlet db = msg.db;\nlet users = db.user_handles;\nvar sqls = '';\nfor(let i=0;i<users.length;i++){\n    if(users[i].code!=0){\n        sqls += \"insert into device_breakdown_handler(b,u) values ('\"+id+\"','\"+users[i].id+\"');\";\n    }\n}\nmsg.topic = sqls;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":420,"wires":[["33826a3b.c12a16"]]},{"id":"d63055c9.fc5ad8","type":"mysql","z":"a3148e2c.f9f36","mydb":"37488f19.87758","name":"","x":630,"y":420,"wires":[["56b72993.4c5618"]]},{"id":"f8c87ef0.a5bd3","type":"debug","z":"a3148e2c.f9f36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1050,"y":200,"wires":[]},{"id":"33826a3b.c12a16","type":"mysql","z":"a3148e2c.f9f36","mydb":"37488f19.87758","name":"","x":950,"y":420,"wires":[["e148b054.2439b"]]},{"id":"e148b054.2439b","type":"function","z":"a3148e2c.f9f36","name":"易损件使用记录","func":"msg.payloads.push(msg.payload);\nmsg.topics.push(msg.topic);\nconst id = msg.uuid;\nlet db = msg.db;\nlet materials = db.materials;\nvar sqls = '';\nfor(let i=0;i<materials.length;i++){\n    if(materials[i].code!=0){\n        sqls += \"insert into device_breakdown_consume(b,m,num) values ('\"+id+\"','\"+materials[i].id+\"','\"+materials[i].num+\"');\";\n    }\n}\nmsg.topic = sqls;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":500,"wires":[["8a357eb2.75658"]]},{"id":"8a357eb2.75658","type":"mysql","z":"a3148e2c.f9f36","mydb":"37488f19.87758","name":"","x":630,"y":500,"wires":[[]]},{"id":"58511260.b4e03c","type":"function","z":"a3148e2c.f9f36","name":"","func":"msg.payload = msg.payload[0].remark\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":40,"wires":[["8d622d85.5680b"]]},{"id":"8d622d85.5680b","type":"json","z":"a3148e2c.f9f36","name":"","property":"payload[0].remark","action":"","pretty":false,"x":670,"y":40,"wires":[["fedf7a58.4bb6a8","79eb1b23.4bce34"]]},{"id":"335f1c0a.46f144","type":"function","z":"a3148e2c.f9f36","name":"json转换","func":"\neval(\"msg.payload=\"+msg.payload);\nnode.error(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":140,"wires":[["f643ee4d.6d179"]]},{"id":"fedf7a58.4bb6a8","type":"delay","z":"a3148e2c.f9f36","name":"","pauseType":"delay","timeout":"1.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":100,"wires":[["2e36f8ed.e11558"]]},{"id":"144eadd2.628fc2","type":"exec","z":"9f3ceec2.df6e4","command":"python G:\\project\\photo-MES\\demo\\readProduceMaterailPhoto.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"opencv识别","x":270,"y":140,"wires":[["ba404a74.a41008"],["fdb8e224.612ba"],["340e8d43.6588b2"]]},{"id":"b32e0271.04dbb","type":"inject","z":"9f3ceec2.df6e4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"payloads","v":"[]","vt":"jsonata"},{"p":"topics","v":"[]","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"select remark from basic_template where code = '0506'","payload":"","payloadType":"str","x":110,"y":40,"wires":[["c0fc98cf.77cd48"]]},{"id":"c0fc98cf.77cd48","type":"mysql","z":"9f3ceec2.df6e4","mydb":"37488f19.87758","name":"","x":130,"y":80,"wires":[["876d09e9.f7e808"]]},{"id":"876d09e9.f7e808","type":"switch","z":"9f3ceec2.df6e4","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":80,"wires":[["68faee5f.6dbe3"],[]]},{"id":"68faee5f.6dbe3","type":"json","z":"9f3ceec2.df6e4","name":"","property":"payload[0].remark","action":"","pretty":false,"x":450,"y":40,"wires":[["72dcf4cb.34bcfc"]]},{"id":"fdb8e224.612ba","type":"debug","z":"9f3ceec2.df6e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":250,"y":200,"wires":[]},{"id":"340e8d43.6588b2","type":"debug","z":"9f3ceec2.df6e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":250,"y":240,"wires":[]},{"id":"1a4b69bf.0aca96","type":"inject","z":"9f3ceec2.df6e4","name":"","props":[{"p":"kill","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":140,"wires":[["144eadd2.628fc2"]]},{"id":"d35e3247.a4faa","type":"function","z":"9f3ceec2.df6e4","name":"字段识别","func":"\n\nvar data = {\n    status:0,\n    code:0,\n};\nvar pld = msg.payload;\n\nvar s1 = pld.find(o=>o[0]=='status__1');\nvar s2 = pld.find(o=>o[0]=='status__2');\nvar s3 = pld.find(o=>o[0]=='status__3');\nif(s1)data['status']=1;\nif(s2)data['status']=2;\nif(s3)data['status']=3;\nif(data.status==0){\n    msg.error = 'no status';\n    return msg;\n}\nvar code_it = pld.find(o=>o[0]=='code');\nif(code_it){\n    data['code'] = code_it[1].join('');\n}\nif(data.code==0){\n    msg.error = 'no code';\n    return msg;\n}\nif(data.status>=1){\n    var it = pld.find(o=>o[0]=='time_report');\n    if(!it){\n        msg.error = 'no time_report';\n        return msg;\n    }\n    var str = it[1].join(\"\");\n    if(str.length<6){\n        msg.error = 'time_report length less than 6';\n        return msg;\n    }\n    data['time_report']=getTimeStr(str);\n    if(true){\n        var it2 = pld.find(o=>o[0]=='device');\n        if(!it2){\n            msg.error = 'no device';\n            return msg;\n        }\n        var str2 = it2[1].join(\"\");\n        data['device']=str2;\n    }\n    if(true){\n        var it2 = pld.find(o=>o[0]=='user_report');\n        if(!it2){\n            msg.error = 'no user_report';\n            return msg;\n        }\n        var str2 = it2[1].join(\"\");\n        data['user_report']=str2;  \n    }\n    if(true){\n        var it2 = pld.find(o=>o[0]=='urgency');\n        if(!it2){\n            msg.error = 'no urgency';\n            return msg;\n        }\n        var str2 = it2[1].join(\"\");\n        data['urgency']=str2;  \n    } \n    if(true){\n        var it2 = pld.find(o=>o[0]=='loss');\n        if(!it2){\n            msg.error = 'no loss';\n            return msg;\n        }\n        var str2 = it2[1].join(\"\");\n        data['loss']=str2;  \n    } \n    if(true){\n        var it2 = pld.find(o=>o[0]=='critical');\n        if(!it2){\n            msg.error = 'no critical';\n            return msg;\n        }\n        var str2 = it2[1].join(\"\");\n        data['critical']=str2;  \n    }   \n    if(true){\n        var str =\",\";\n        var it2 = pld.find(o=>o[0]=='appearances__1');\n        if(it2)str+=\"1,\";\n        var it2 = pld.find(o=>o[0]=='appearances__2');\n        if(it2)str+=\"2,\";\n        var it2 = pld.find(o=>o[0]=='appearances__3');\n        if(it2)str+=\"3,\";   \n        var it2 = pld.find(o=>o[0]=='appearances__4');\n        if(it2)str+=\"4,\"; \n        var it2 = pld.find(o=>o[0]=='appearances__5');\n        if(it2)str+=\"5,\";    \n        var it2 = pld.find(o=>o[0]=='appearances__6');\n        if(it2)str+=\"6\";   \n        var it2 = pld.find(o=>o[0]=='appearances__7');\n        if(it2)str+=\"7,\";           \n        data['appearances']=str;  \n    }     \n}\nif(data.status>=2){\n    var it = pld.find(o=>o[0]=='time_handle');\n    if(!it){\n        msg.error = 'no time_handle';\n        return msg;\n    }\n    var str = it[1].join(\"\");\n    if(str.length<6){\n        msg.error = 'time_handle length less than 6';\n        return msg;\n    }\n    data['time_handle']=getTimeStr(str);  \n    if(true){\n        var str =\",\";\n        var it2 = pld.find(o=>o[0]=='reason__1');\n        if(it2)str+=\"1,\";\n        var it2 = pld.find(o=>o[0]=='reason__2');\n        if(it2)str+=\"2,\";\n        var it2 = pld.find(o=>o[0]=='reason__3');\n        if(it2)str+=\"3,\";   \n        var it2 = pld.find(o=>o[0]=='reason__4');\n        if(it2)str+=\"4,\"; \n        var it2 = pld.find(o=>o[0]=='reason__5');\n        if(it2)str+=\"5,\";    \n        var it2 = pld.find(o=>o[0]=='reason__6');\n        if(it2)str+=\"6\";   \n        var it2 = pld.find(o=>o[0]=='reason__7');\n        if(it2)str+=\"7,\";           \n        data['causes']=str;  \n    }\n    if(true){\n        var arr = [{code:0},{code:0},{code:0},{code:0},{code:0}];\n        var it2 = pld.find(o=>o[0]=='user_handle--1');\n        if(it2){\n            var str = it2[1].join(\"\");\n            arr[0]={code:str};\n        }        \n        var it2 = pld.find(o=>o[0]=='user_handle--2');\n        if(it2){\n            var str = it2[1].join(\"\");\n            arr[1]={code:str};\n        }\n        var it2 = pld.find(o=>o[0]=='user_handle--3');\n        if(it2){\n            var str = it2[1].join(\"\");\n            arr[2]={code:str};\n        }   \n        var it2 = pld.find(o=>o[0]=='user_handle--4');\n        if(it2){\n            var str = it2[1].join(\"\");\n            arr[3]={code:str};\n        } \n        var it2 = pld.find(o=>o[0]=='user_handle--5');\n        if(it2){\n            var str = it2[1].join(\"\");\n            arr[4]={code:str};\n        }         \n        data['user_handles']=arr;  \n    }  \n    if(true){\n        var it2 = pld.find(o=>o[0]=='user_assign');\n        if(!it2){\n            msg.error = 'no user_assign';\n            return msg;\n        }\n        var str2 = it2[1].join(\"\");\n        data['user_assign']=str2;  \n    }\n    if(true){\n        var arr = [{code:0,num:0},{code:0,num:0},{code:0,num:0},{code:0,num:0}];\n        var it2 = pld.find(o=>o[0]=='material--1');\n        if(it2){\n            var str = it2[1].join(\"\");\n            var it3 = pld.find(o=>o[0]=='material_num--1');\n            var num = it3[1].join(\"\");\n            arr[0]={code:str,num:num};\n        }\n        var it2 = pld.find(o=>o[0]=='material--2');\n        if(it2){\n            var str = it2[1].join(\"\");\n            var it3 = pld.find(o=>o[0]=='material_num--2');\n            var num = it3[1].join(\"\");\n            arr[1]={code:str,num:num};\n        } \n        var it2 = pld.find(o=>o[0]=='material--3');\n        if(it2){\n            var str = it2[1].join(\"\");\n            var it3 = pld.find(o=>o[0]=='material_num--3');\n            var num = it3[1].join(\"\");\n            arr[2]={code:str,num:num};\n        }\n        var it2 = pld.find(o=>o[0]=='material--4');\n        if(it2){\n            var str = it2[1].join(\"\");\n            var it3 = pld.find(o=>o[0]=='material_num--4');\n            var num = it3[1].join(\"\");\n            arr[3]={code:str,num:num};\n        }         \n        data['materials']=arr;  \n    }\n}\nif(data.status==3){\n    var it = pld.find(o=>o[0]=='time_check');\n    if(!it){\n        msg.error = 'no time_check';\n        return msg;\n    }\n    var str = it[1].join(\"\");\n    if(str.length<6){\n        msg.error = 'time_handle length less than 6';\n        return msg;\n    }\n    data['time_check']=getTimeStr(str);      \n    if(true){\n        var b1 = pld.find(o=>o[0]=='handle_attitude__1');\n        var b2 = pld.find(o=>o[0]=='handle_attitude__2');\n        var b3 = pld.find(o=>o[0]=='handle_attitude__3');\n        if(b1)data['handle_attitude']=1;\n        if(b2)data['handle_attitude']=2;\n        if(b3)data['handle_attitude']=3; \n    } \n    if(true){\n        var b1 = pld.find(o=>o[0]=='handle_speed__1');\n        var b2 = pld.find(o=>o[0]=='handle_speed__2');\n        var b3 = pld.find(o=>o[0]=='handle_speed__3');\n        if(b1)data['handle_speed']=1;\n        if(b2)data['handle_speed']=2;\n        if(b3)data['handle_speed']=3; \n    } \n    if(true){\n        var b1 = pld.find(o=>o[0]=='result__1');\n        var b2 = pld.find(o=>o[0]=='result__2');\n        var b3 = pld.find(o=>o[0]=='result__3');\n        var b4 = pld.find(o=>o[0]=='result__4');        \n        if(b1)data['result']=1;\n        if(b2)data['result']=2;\n        if(b3)data['result']=3; \n        if(b4)data['result']=4;\n    }  \n    if(true){\n        var it2 = pld.find(o=>o[0]=='user_check');\n        if(!it2){\n            msg.error = 'no user_check';\n            return msg;\n        }\n        var str2 = it2[1].join(\"\");\n        data['user_check']=str2;  \n    }    \n}\nmsg.db = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":140,"wires":[["b918584.18a93a8"]]},{"id":"195dcfa1.7883f","type":"function","z":"9f3ceec2.df6e4","name":"单据存在判断","func":"//msg.topics = [];\n//msg.payloads = [];\nmsg.payloads.push(msg.payload);\nmsg.topics.push(msg.topic);\n\nmsg.topic = \"select * from device_breakdown where code = '\"+msg.db.code+\"' \";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":280,"wires":[["c52c0faf.fb6dc"]]},{"id":"b918584.18a93a8","type":"switch","z":"9f3ceec2.df6e4","name":"","property":"error","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":140,"wires":[["1468036e.47ab9d"],["22023442.b813dc"]]},{"id":"c52c0faf.fb6dc","type":"mysql","z":"9f3ceec2.df6e4","mydb":"37488f19.87758","name":"","x":650,"y":280,"wires":[["3b3e6deb.cbc2e2"]]},{"id":"3b3e6deb.cbc2e2","type":"switch","z":"9f3ceec2.df6e4","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":280,"wires":[["c1820c7f.5ea06","5a58680.d20d898"],["c36d3273.deefe"]]},{"id":"c1820c7f.5ea06","type":"function","z":"9f3ceec2.df6e4","name":"单据更新","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":300,"wires":[[]]},{"id":"c36d3273.deefe","type":"function","z":"9f3ceec2.df6e4","name":"新增故障维修记录","func":"msg.payloads.push(msg.payload);\nmsg.topics.push(msg.topic);\n\nlet uuid = global.get('uuid');\nlet db = msg.db;\ndb['id'] = uuid.v4();\nkeys = [];\nvalues = [];\n\nif(db['code']){\n    keys.push(\"code\");\n    values.push(\"'\"+db['code']+\"'\");\n}\nif(db['id']){\n    keys.push(\"id\");\n    values.push(\"'\"+db['id']+\"'\");\n}\nif(db['time_report']){\n    keys.push(\"time_report\");\n    values.push(\"'\"+db['time_report']+\"'\");\n}\nif(db['time_handle']){\n    keys.push(\"time_handle\");\n    values.push(\"'\"+db['time_handle']+\"'\");\n}\nif(db['time_check']){\n    keys.push(\"time_check\");\n    values.push(\"'\"+db['time_check']+\"'\");\n}\nif(db['appearances']){\n    keys.push(\"appearances\");\n    values.push(\"'\"+db['appearances']+\"'\");\n}\nif(db['causes']){\n    keys.push(\"causes\");\n    values.push(\"'\"+db['causes']+\"'\");\n}\nif(db['device']){\n    keys.push(\"device\");\n    values.push(\"'\"+db['device_id']+\"'\");\n}\nif(db['user_report']){\n    keys.push(\"user_report\");\n    values.push(\"'\"+db['user_report_id']+\"'\");\n}\nif(db['user_assign']){\n    keys.push(\"user_assign\");\n    values.push(\"'\"+db['user_assign_id']+\"'\");\n}\nif(db['user_check']){\n    keys.push(\"user_check\");\n    values.push(\"'\"+db['user_check_id']+\"'\");\n}\nif(db['urgency']){\n    keys.push(\"urgency\");\n    values.push(\"'\"+db['urgency']+\"'\");\n}\nif(db['result']){\n    keys.push(\"result\");\n    values.push(\"'\"+db['result']+\"'\");\n}\nif(db['loss']){\n    keys.push(\"loss\");\n    values.push(\"'\"+db['loss']+\"'\");\n}\nif(db['critical']){\n    keys.push(\"critical\");\n    values.push(\"'\"+db['critical']+\"'\");\n}\nif(db['handle_attitude']){\n    keys.push(\"handle_attitude\");\n    values.push(\"'\"+db['handle_attitude']+\"'\");\n}\nif(db['handle_speed']){\n    keys.push(\"handle_speed\");\n    values.push(\"'\"+db['handle_speed']+\"'\");\n}\nif(true){\n    keys.push(\"time_created\");\n    values.push(\"now()\");\n    keys.push(\"time_lastupdated\");\n    values.push(\"now()\");    \n}\n\nlet sql = \"insert into device_breakdown (\";\nlet sql2 = \")values(\";\nsql += keys.join(\",\");\nsql2 += values.join(\",\");\nsql = sql+sql2+\");\";\nmsg.topic = sql;\nmsg.uuid = db['id'];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":360,"wires":[["4ad7045d.02108c"]]},{"id":"22023442.b813dc","type":"function","z":"9f3ceec2.df6e4","name":"数据合法性检查","func":"let db = msg.db;\nlet connection = msg.conn;\nvar err = false;\nlet errors = '';\n\nif( db['user_report']){\n\tconnection.query(\"SELECT * from basic_user where username = '\"+db['user_report']+\"'\", \n\tfunction (error, results, fields) {\n\t\tif (error) console.debug(error); \n\t\tif(results.length==0){\n\t\t\terr = true;\n\t\t\terrors += ',no user_report';\n\t\t}\n\t\telse{\n\t\t    db['user_report_id'] = results[0].id;\n\t\t}\n\t});\n}\n\n\nif( db['user_assign']){\n    connection.query(\"SELECT * from basic_user where username = '\"+db['user_assign']+\"'\", \n    function (error, results, fields) {\n        if (error) throw error;\n        if(results.length==0){\n            err = true;\n            errors += ',no user_assign';\n        }\n\t\telse{\n\t\t    db['user_assign_id'] = results[0].id;\n\t\t}        \n    });\n}\n\nif( db['user_check']){\n    connection.query(\"SELECT * from basic_user where username = '\"+db['user_check']+\"'\", \n    function (error, results, fields) {\n        if (error) throw error;\n        if(results.length==0){\n            err = true;\n            errors += ',no user_check';\n        }\n\t\telse{\n\t\t    db['user_check_id'] = results[0].id;\n\t\t}        \n    });\n}\n\nif( db['device']){\n    connection.query(\"SELECT * from device where code = '\"+db['device']+\"'\", \n    function (error, results, fields) {\n        if (error) throw error;\n        if(results.length==0){\n            err = true;\n            errors += ',no device';\n        }\n\t\telse{\n\t\t    db['device_id'] = results[0].id;\n\t\t}          \n    });\n}\n\nif( db['materials']){\n    let arr = db['materials'];\n    for(let i=0;i<arr.length;i++){\n        if(err)break;\n        if(arr[i].code==0)continue;\n        connection.query(\"SELECT * from supply_material where code = '\"+arr[i].code+\"'\", \n        function (error, results, fields) {\n            if (error) throw error;\n            if(results.length==0){\n                err = true;\n                errors += ',no material'+arr[i].code;\n            }\n            else{\n                arr[i] = {id: results[0].id, code: arr[i].code, num: arr[i].num};\n            }\n        }); \n    }\n}\n\nif( db['user_handles']){\n    let arr = db['user_handles'];\n    for(let i=0;i<arr.length;i++){\n        if(err)break;\n        if(arr[i].code==0)continue;\n        connection.query(\"SELECT * from basic_user where username = '\"+arr[i].code+\"'\", \n        function (error, results, fields) {\n            if (error) throw error;\n            \n            if(results.length==0){\n                err = true;\n                console.debug(error);\n                errors += ',no user'+arr[i].code;\n            }else{\n                arr[i] = {id: results[0].id, code: arr[i].code};\n            }\n        }); \n    }\n}\n\nsetTimeout(function(){\n\t//connection.destroy();\n\tif(err){\n\t    msg.error = errors;\n\t}\n\tnode.send( msg );\n},500);\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":200,"wires":[["8a58b6d6.e527f8"]]},{"id":"8a58b6d6.e527f8","type":"switch","z":"9f3ceec2.df6e4","name":"","property":"error","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":200,"wires":[["289eed02.5fd842"],["195dcfa1.7883f"]]},{"id":"289eed02.5fd842","type":"debug","z":"9f3ceec2.df6e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":200,"wires":[]},{"id":"1468036e.47ab9d","type":"debug","z":"9f3ceec2.df6e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":40,"wires":[]},{"id":"70994699.6ed3c8","type":"function","z":"9f3ceec2.df6e4","name":"维修人员记录","func":"msg.payloads.push(msg.payload);\nmsg.topics.push(msg.topic);\nconst id = msg.uuid;\nlet db = msg.db;\nlet users = db.user_handles;\nvar sqls = '';\nfor(let i=0;i<users.length;i++){\n    if(users[i].code!=0){\n        sqls += \"insert into device_breakdown_handler(b,u) values ('\"+id+\"','\"+users[i].id+\"');\";\n    }\n}\nmsg.topic = sqls;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":360,"wires":[["b0869a00.37f228"]]},{"id":"4ad7045d.02108c","type":"mysql","z":"9f3ceec2.df6e4","mydb":"37488f19.87758","name":"","x":650,"y":360,"wires":[["70994699.6ed3c8"]]},{"id":"5a58680.d20d898","type":"debug","z":"9f3ceec2.df6e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1070,"y":200,"wires":[]},{"id":"b0869a00.37f228","type":"mysql","z":"9f3ceec2.df6e4","mydb":"37488f19.87758","name":"","x":970,"y":360,"wires":[["f6d6bc87.f51cb"]]},{"id":"f6d6bc87.f51cb","type":"function","z":"9f3ceec2.df6e4","name":"易损件使用记录","func":"msg.payloads.push(msg.payload);\nmsg.topics.push(msg.topic);\nconst id = msg.uuid;\nlet db = msg.db;\nlet materials = db.materials;\nvar sqls = '';\nfor(let i=0;i<materials.length;i++){\n    if(materials[i].code!=0){\n        sqls += \"insert into device_breakdown_consume(b,m,num) values ('\"+id+\"','\"+materials[i].id+\"','\"+materials[i].num+\"');\";\n    }\n}\nmsg.topic = sqls;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":440,"wires":[["e1598f4e.31b8b"]]},{"id":"e1598f4e.31b8b","type":"mysql","z":"9f3ceec2.df6e4","mydb":"37488f19.87758","name":"","x":650,"y":440,"wires":[[]]},{"id":"72dcf4cb.34bcfc","type":"function","z":"9f3ceec2.df6e4","name":"","func":"msg.payload = msg.payload[0].remark\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":40,"wires":[["4ea8ffbb.0cf2c"]]},{"id":"4ea8ffbb.0cf2c","type":"json","z":"9f3ceec2.df6e4","name":"","property":"payload[0].remark","action":"","pretty":false,"x":690,"y":40,"wires":[["cf10e244.fbe9f","e899bc08.3c61"]]},{"id":"cec7dde5.98c99","type":"debug","z":"9f3ceec2.df6e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":210,"y":540,"wires":[]},{"id":"ba404a74.a41008","type":"function","z":"9f3ceec2.df6e4","name":"","func":"eval(\"msg.payload=\"+msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":420,"wires":[["cec7dde5.98c99","d35e3247.a4faa"]]},{"id":"cf10e244.fbe9f","type":"delay","z":"9f3ceec2.df6e4","name":"","pauseType":"delay","timeout":"1.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":100,"wires":[["144eadd2.628fc2"]]},{"id":"e72bb0c7.ebb4b","type":"tcp out","z":"d3fa8cac.1da15","host":"127.0.0.1","port":"65432","beserver":"client","base64":false,"end":false,"name":"","x":320,"y":180,"wires":[]},{"id":"410d543f.b19afc","type":"link in","z":"d3fa8cac.1da15","name":"cam","links":["e899bc08.3c61","79eb1b23.4bce34"],"x":105,"y":180,"wires":[["e72bb0c7.ebb4b"]]},{"id":"e899bc08.3c61","type":"link out","z":"9f3ceec2.df6e4","name":"","links":["410d543f.b19afc"],"x":505,"y":600,"wires":[]},{"id":"79eb1b23.4bce34","type":"link out","z":"a3148e2c.f9f36","name":"","links":["410d543f.b19afc"],"x":455,"y":620,"wires":[]},{"id":"2f3d2f4f.ce797","type":"function","z":"392cb56b.befe8a","name":"","func":"var getTimeStr = function(str){\n    var minu = str.substring(str.length-2,str.length);\n    var hour = str.substring(str.length-4,str.length-2);\n    var day = str.substring(str.length-6,str.length-4);\n    var year = (new Date()).getFullYear();\n    var month = (new Date()).getMonth()+1;\n    if(month<10)month=\"0\"+month;\n    if(str.length>=8){\n        month = str.substring(str.length-8,str.length-6);\n    }\n    if(str.length==12){\n        year = str.substring(str.length-12,str.length-8);\n    }    \n    var rtstr = year+'-'+month+'-'+day+' '+hour+':'+minu+':'+'00';\n    return rtstr;\n}\n\nglobal.set('getTimeStr',getTimeStr)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":40,"wires":[[]]},{"id":"7d625f67.c91cd","type":"mysql","z":"a3148e2c.f9f36","mydb":"37488f19.87758","name":"","x":1070,"y":280,"wires":[[]]},{"id":"3e89cfc.7f9943","type":"debug","z":"a3148e2c.f9f36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":290,"y":340,"wires":[]}]