demo/nodered/flows_SD-20210329XRPO.json
[{"id":"392cb56b.befe8a","type":"tab","label":"设备故障","disabled":false,"info":""},{"id":"a3148e2c.f9f36","type":"tab","label":"生产安排","disabled":false,"info":""},{"id":"9f3ceec2.df6e4","type":"tab","label":"用料记录","disabled":false,"info":""},{"id":"d3fa8cac.1da15","type":"tab","label":"相机","disabled":false,"info":""},{"id":"50cb570c.c80dd8","type":"subflow","name":"用户存在判断","info":"","category":"","in":[{"x":100,"y":100,"wires":[{"id":"12665266.0757ee"}]}],"out":[{"x":720,"y":80,"wires":[{"id":"5a9ab98d.8135b8","port":0}]},{"x":720,"y":120,"wires":[{"id":"fb8f7c95.9acfc","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"37488f19.87758","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3308","db":"mes","tz":"","charset":"UTF8"},{"id":"9504e90f.241438","type":"exec","z":"392cb56b.befe8a","command":"python G:\\project\\photo-MES\\demo\\nodered_run.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"opencv识别","x":250,"y":140,"wires":[["4d6ad74c.26fd58"],["e110cac1.7fa6d8"],["d051df19.3d37c"]]},{"id":"7b6deb8a.bf9aa4","type":"inject","z":"392cb56b.befe8a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"payloads","v":"[]","vt":"jsonata"},{"p":"topics","v":"[]","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"select remark from basic_template where code = '0505'","payload":"test.png 88,127,168,369,94,124,639,743,142,174,621,742","payloadType":"str","x":90,"y":40,"wires":[["fa0aaf48.34cc6"]]},{"id":"fa0aaf48.34cc6","type":"mysql","z":"392cb56b.befe8a","mydb":"37488f19.87758","name":"","x":110,"y":80,"wires":[["ace524f3.bb7648"]]},{"id":"ace524f3.bb7648","type":"switch","z":"392cb56b.befe8a","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":80,"wires":[["44f58118.7c8ea"],[]]},{"id":"36b8432a.364c9c","type":"function","z":"392cb56b.befe8a","name":"","func":"var data = msg.payload[0].remark;\nvar str = data.join(',');\nstr = \"test5.png \"+str;\nmsg.payload = str;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":80,"wires":[["9504e90f.241438"]]},{"id":"44f58118.7c8ea","type":"json","z":"392cb56b.befe8a","name":"","property":"payload[0].remark","action":"","pretty":false,"x":390,"y":80,"wires":[["36b8432a.364c9c"]]},{"id":"e110cac1.7fa6d8","type":"debug","z":"392cb56b.befe8a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":230,"y":200,"wires":[]},{"id":"d051df19.3d37c","type":"debug","z":"392cb56b.befe8a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":230,"y":240,"wires":[]},{"id":"9a2598bd.d1f5f8","type":"json","z":"392cb56b.befe8a","name":"","property":"payload","action":"","pretty":false,"x":610,"y":140,"wires":[["b3bb3618.81e058"]]},{"id":"4d6ad74c.26fd58","type":"function","z":"392cb56b.befe8a","name":"json预处理","func":"msg.payload = msg.payload + \"YYY\";\nmsg.payload = msg.payload.replace(\",YYY\",\"]\");\nmsg.payload = msg.payload.replace(\"YYY\",\"\");\nmsg.payload = msg.payload.replace(\",XXX\",\"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":140,"wires":[["9a2598bd.d1f5f8"]]},{"id":"c6b23af4.f9bba8","type":"inject","z":"392cb56b.befe8a","name":"","props":[{"p":"kill","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":140,"wires":[["9504e90f.241438"]]},{"id":"b3bb3618.81e058","type":"function","z":"392cb56b.befe8a","name":"字段识别","func":"var getTimeStr = function(str){\n    var minu = str.substring(str.length-2,str.length);\n    var hour = str.substring(str.length-4,str.length-2);\n    var day = str.substring(str.length-6,str.length-4);\n    var year = (new Date()).getFullYear();\n    var month = (new Date()).getMonth()+1;\n    if(month<10)month=\"0\"+month;\n    if(str.length>=8){\n        month = str.substring(str.length-8,str.length-6);\n    }\n    if(str.length==12){\n        year = str.substring(str.length-12,str.length-8);\n    }    \n    var rtstr = year+'-'+month+'-'+day+' '+hour+':'+minu+':'+'00';\n    return rtstr;\n}\n\nvar data = {\n    status:0,\n    code:0,\n};\nvar pld = msg.payload;\n\nvar s1 = pld.find(o=>o[0]=='status__1');\nvar s2 = pld.find(o=>o[0]=='status__2');\nvar s3 = pld.find(o=>o[0]=='status__3');\nif(s1)data['status']=1;\nif(s2)data['status']=2;\nif(s3)data['status']=3;\nif(data.status==0){\n    msg.error = 'no status';\n    return msg;\n}\nvar code_it = pld.find(o=>o[0]=='code');\nif(code_it){\n    data['code'] = code_it[1].join('');\n}\nif(data.code==0){\n    msg.error = 'no code';\n    return msg;\n}\nif(data.status>=1){\n    var it = pld.find(o=>o[0]=='time_report');\n    if(!it){\n        msg.error = 'no time_report';\n        return msg;\n    }\n    var str = it[1].join(\"\");\n    if(str.length<6){\n        msg.error = 'time_report length less than 6';\n        return msg;\n    }\n    data['time_report']=getTimeStr(str);\n    if(true){\n        var it2 = pld.find(o=>o[0]=='device');\n        if(!it2){\n            msg.error = 'no device';\n            return msg;\n        }\n        var str2 = it2[1].join(\"\");\n        data['device']=str2;\n    }\n    if(true){\n        var it2 = pld.find(o=>o[0]=='user_report');\n        if(!it2){\n            msg.error = 'no user_report';\n            return msg;\n        }\n        var str2 = it2[1].join(\"\");\n        data['user_report']=str2;  \n    }\n    if(true){\n        var it2 = pld.find(o=>o[0]=='urgency');\n        if(!it2){\n            msg.error = 'no urgency';\n            return msg;\n        }\n        var str2 = it2[1].join(\"\");\n        data['urgency']=str2;  \n    } \n    if(true){\n        var it2 = pld.find(o=>o[0]=='loss');\n        if(!it2){\n            msg.error = 'no loss';\n            return msg;\n        }\n        var str2 = it2[1].join(\"\");\n        data['loss']=str2;  \n    } \n    if(true){\n        var it2 = pld.find(o=>o[0]=='critical');\n        if(!it2){\n            msg.error = 'no critical';\n            return msg;\n        }\n        var str2 = it2[1].join(\"\");\n        data['critical']=str2;  \n    }   \n    if(true){\n        var str =\",\";\n        var it2 = pld.find(o=>o[0]=='appearances__1');\n        if(it2)str+=\"1,\";\n        var it2 = pld.find(o=>o[0]=='appearances__2');\n        if(it2)str+=\"2,\";\n        var it2 = pld.find(o=>o[0]=='appearances__3');\n        if(it2)str+=\"3,\";   \n        var it2 = pld.find(o=>o[0]=='appearances__4');\n        if(it2)str+=\"4,\"; \n        var it2 = pld.find(o=>o[0]=='appearances__5');\n        if(it2)str+=\"5,\";    \n        var it2 = pld.find(o=>o[0]=='appearances__6');\n        if(it2)str+=\"6\";   \n        var it2 = pld.find(o=>o[0]=='appearances__7');\n        if(it2)str+=\"7,\";           \n        data['appearances']=str;  \n    }     \n}\nif(data.status>=2){\n    var it = pld.find(o=>o[0]=='time_handle');\n    if(!it){\n        msg.error = 'no time_handle';\n        return msg;\n    }\n    var str = it[1].join(\"\");\n    if(str.length<6){\n        msg.error = 'time_handle length less than 6';\n        return msg;\n    }\n    data['time_handle']=getTimeStr(str);  \n    if(true){\n        var str =\",\";\n        var it2 = pld.find(o=>o[0]=='reason__1');\n        if(it2)str+=\"1,\";\n        var it2 = pld.find(o=>o[0]=='reason__2');\n        if(it2)str+=\"2,\";\n        var it2 = pld.find(o=>o[0]=='reason__3');\n        if(it2)str+=\"3,\";   \n        var it2 = pld.find(o=>o[0]=='reason__4');\n        if(it2)str+=\"4,\"; \n        var it2 = pld.find(o=>o[0]=='reason__5');\n        if(it2)str+=\"5,\";    \n        var it2 = pld.find(o=>o[0]=='reason__6');\n        if(it2)str+=\"6\";   \n        var it2 = pld.find(o=>o[0]=='reason__7');\n        if(it2)str+=\"7,\";           \n        data['causes']=str;  \n    }\n    if(true){\n        var arr = [{code:0},{code:0},{code:0},{code:0},{code:0}];\n        var it2 = pld.find(o=>o[0]=='user_handle--1');\n        if(it2){\n            var str = it2[1].join(\"\");\n            arr[0]={code:str};\n        }        \n        var it2 = pld.find(o=>o[0]=='user_handle--2');\n        if(it2){\n            var str = it2[1].join(\"\");\n            arr[1]={code:str};\n        }\n        var it2 = pld.find(o=>o[0]=='user_handle--3');\n        if(it2){\n            var str = it2[1].join(\"\");\n            arr[2]={code:str};\n        }   \n        var it2 = pld.find(o=>o[0]=='user_handle--4');\n        if(it2){\n            var str = it2[1].join(\"\");\n            arr[3]={code:str};\n        } \n        var it2 = pld.find(o=>o[0]=='user_handle--5');\n        if(it2){\n            var str = it2[1].join(\"\");\n            arr[4]={code:str};\n        }         \n        data['user_handles']=arr;  \n    }  \n    if(true){\n        var it2 = pld.find(o=>o[0]=='user_assign');\n        if(!it2){\n            msg.error = 'no user_assign';\n            return msg;\n        }\n        var str2 = it2[1].join(\"\");\n        data['user_assign']=str2;  \n    }\n    if(true){\n        var arr = [{code:0,num:0},{code:0,num:0},{code:0,num:0},{code:0,num:0}];\n        var it2 = pld.find(o=>o[0]=='material--1');\n        if(it2){\n            var str = it2[1].join(\"\");\n            var it3 = pld.find(o=>o[0]=='material_num--1');\n            var num = it3[1].join(\"\");\n            arr[0]={code:str,num:num};\n        }\n        var it2 = pld.find(o=>o[0]=='material--2');\n        if(it2){\n            var str = it2[1].join(\"\");\n            var it3 = pld.find(o=>o[0]=='material_num--2');\n            var num = it3[1].join(\"\");\n            arr[1]={code:str,num:num};\n        } \n        var it2 = pld.find(o=>o[0]=='material--3');\n        if(it2){\n            var str = it2[1].join(\"\");\n            var it3 = pld.find(o=>o[0]=='material_num--3');\n            var num = it3[1].join(\"\");\n            arr[2]={code:str,num:num};\n        }\n        var it2 = pld.find(o=>o[0]=='material--4');\n        if(it2){\n            var str = it2[1].join(\"\");\n            var it3 = pld.find(o=>o[0]=='material_num--4');\n            var num = it3[1].join(\"\");\n            arr[3]={code:str,num:num};\n        }         \n        data['materials']=arr;  \n    }\n}\nif(data.status==3){\n    var it = pld.find(o=>o[0]=='time_check');\n    if(!it){\n        msg.error = 'no time_check';\n        return msg;\n    }\n    var str = it[1].join(\"\");\n    if(str.length<6){\n        msg.error = 'time_handle length less than 6';\n        return msg;\n    }\n    data['time_check']=getTimeStr(str);      \n    if(true){\n        var b1 = pld.find(o=>o[0]=='handle_attitude__1');\n        var b2 = pld.find(o=>o[0]=='handle_attitude__2');\n        var b3 = pld.find(o=>o[0]=='handle_attitude__3');\n        if(b1)data['handle_attitude']=1;\n        if(b2)data['handle_attitude']=2;\n        if(b3)data['handle_attitude']=3; \n    } \n    if(true){\n        var b1 = pld.find(o=>o[0]=='handle_speed__1');\n        var b2 = pld.find(o=>o[0]=='handle_speed__2');\n        var b3 = pld.find(o=>o[0]=='handle_speed__3');\n        if(b1)data['handle_speed']=1;\n        if(b2)data['handle_speed']=2;\n        if(b3)data['handle_speed']=3; \n    } \n    if(true){\n        var b1 = pld.find(o=>o[0]=='result__1');\n        var b2 = pld.find(o=>o[0]=='result__2');\n        var b3 = pld.find(o=>o[0]=='result__3');\n        var b4 = pld.find(o=>o[0]=='result__4');        \n        if(b1)data['result']=1;\n        if(b2)data['result']=2;\n        if(b3)data['result']=3; \n        if(b4)data['result']=4;\n    }  \n    if(true){\n        var it2 = pld.find(o=>o[0]=='user_check');\n        if(!it2){\n            msg.error = 'no user_check';\n            return msg;\n        }\n        var str2 = it2[1].join(\"\");\n        data['user_check']=str2;  \n    }    \n}\nmsg.db = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":140,"wires":[["69f9eb1.c4a4f14"]]},{"id":"cd36ef4a.5e088","type":"function","z":"392cb56b.befe8a","name":"单据存在判断","func":"//msg.topics = [];\n//msg.payloads = [];\nmsg.payloads.push(msg.payload);\nmsg.topics.push(msg.topic);\n\nmsg.topic = \"select * from device_breakdown where code = '\"+msg.db.code+\"' \";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":280,"wires":[["4c3316ee.f71aa8"]]},{"id":"69f9eb1.c4a4f14","type":"switch","z":"392cb56b.befe8a","name":"","property":"error","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":140,"wires":[["1566cfdf.88e27"],["13c747d7.95d8f8"]]},{"id":"4c3316ee.f71aa8","type":"mysql","z":"392cb56b.befe8a","mydb":"37488f19.87758","name":"","x":630,"y":280,"wires":[["cdb300a5.1468e"]]},{"id":"cdb300a5.1468e","type":"switch","z":"392cb56b.befe8a","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":280,"wires":[["8c51738c.d4dbd","516f8424.a4247c"],["f63e668f.666a98"]]},{"id":"8c51738c.d4dbd","type":"function","z":"392cb56b.befe8a","name":"单据更新","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":300,"wires":[[]]},{"id":"f63e668f.666a98","type":"function","z":"392cb56b.befe8a","name":"新增故障维修记录","func":"msg.payloads.push(msg.payload);\nmsg.topics.push(msg.topic);\n\nlet uuid = global.get('uuid');\nlet db = msg.db;\ndb['id'] = uuid.v4();\nkeys = [];\nvalues = [];\n\nif(db['code']){\n    keys.push(\"code\");\n    values.push(\"'\"+db['code']+\"'\");\n}\nif(db['id']){\n    keys.push(\"id\");\n    values.push(\"'\"+db['id']+\"'\");\n}\nif(db['time_report']){\n    keys.push(\"time_report\");\n    values.push(\"'\"+db['time_report']+\"'\");\n}\nif(db['time_handle']){\n    keys.push(\"time_handle\");\n    values.push(\"'\"+db['time_handle']+\"'\");\n}\nif(db['time_check']){\n    keys.push(\"time_check\");\n    values.push(\"'\"+db['time_check']+\"'\");\n}\nif(db['appearances']){\n    keys.push(\"appearances\");\n    values.push(\"'\"+db['appearances']+\"'\");\n}\nif(db['causes']){\n    keys.push(\"causes\");\n    values.push(\"'\"+db['causes']+\"'\");\n}\nif(db['device']){\n    keys.push(\"device\");\n    values.push(\"'\"+db['device_id']+\"'\");\n}\nif(db['user_report']){\n    keys.push(\"user_report\");\n    values.push(\"'\"+db['user_report_id']+\"'\");\n}\nif(db['user_assign']){\n    keys.push(\"user_assign\");\n    values.push(\"'\"+db['user_assign_id']+\"'\");\n}\nif(db['user_check']){\n    keys.push(\"user_check\");\n    values.push(\"'\"+db['user_check_id']+\"'\");\n}\nif(db['urgency']){\n    keys.push(\"urgency\");\n    values.push(\"'\"+db['urgency']+\"'\");\n}\nif(db['result']){\n    keys.push(\"result\");\n    values.push(\"'\"+db['result']+\"'\");\n}\nif(db['loss']){\n    keys.push(\"loss\");\n    values.push(\"'\"+db['loss']+\"'\");\n}\nif(db['critical']){\n    keys.push(\"critical\");\n    values.push(\"'\"+db['critical']+\"'\");\n}\nif(db['handle_attitude']){\n    keys.push(\"handle_attitude\");\n    values.push(\"'\"+db['handle_attitude']+\"'\");\n}\nif(db['handle_speed']){\n    keys.push(\"handle_speed\");\n    values.push(\"'\"+db['handle_speed']+\"'\");\n}\nif(true){\n    keys.push(\"time_created\");\n    values.push(\"now()\");\n    keys.push(\"time_lastupdated\");\n    values.push(\"now()\");    \n}\n\nlet sql = \"insert into device_breakdown (\";\nlet sql2 = \")values(\";\nsql += keys.join(\",\");\nsql2 += values.join(\",\");\nsql = sql+sql2+\");\";\nmsg.topic = sql;\nmsg.uuid = db['id'];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":360,"wires":[["21d0b609.81aa2a"]]},{"id":"12665266.0757ee","type":"function","z":"50cb570c.c80dd8","name":"","func":"var username = msg.payload;\nmsg.topic = \"select * from basic_user where username = '\"+username+\"'\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":100,"wires":[["9a53b4bb.a468a8"]]},{"id":"9a53b4bb.a468a8","type":"mysql","z":"50cb570c.c80dd8","mydb":"37488f19.87758","name":"","x":330,"y":100,"wires":[["ebdeb20d.5ddd2"]]},{"id":"ebdeb20d.5ddd2","type":"switch","z":"50cb570c.c80dd8","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":100,"wires":[["5a9ab98d.8135b8"],["fb8f7c95.9acfc"]]},{"id":"5a9ab98d.8135b8","type":"function","z":"50cb570c.c80dd8","name":"有","func":"\nmsg.user = msg.payload[0];\nmsg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":80,"wires":[[]]},{"id":"fb8f7c95.9acfc","type":"function","z":"50cb570c.c80dd8","name":"没有","func":"\nmsg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":120,"wires":[[]]},{"id":"13c747d7.95d8f8","type":"function","z":"392cb56b.befe8a","name":"数据合法性检查","func":"let db = msg.db;\nlet connection = msg.conn;\nvar err = false;\nlet errors = '';\n\nif( db['user_report']){\n\tconnection.query(\"SELECT * from basic_user where username = '\"+db['user_report']+\"'\", \n\tfunction (error, results, fields) {\n\t\tif (error) console.debug(error); \n\t\tif(results.length==0){\n\t\t\terr = true;\n\t\t\terrors += ',no user_report';\n\t\t}\n\t\telse{\n\t\t    db['user_report_id'] = results[0].id;\n\t\t}\n\t});\n}\n\n\nif( db['user_assign']){\n    connection.query(\"SELECT * from basic_user where username = '\"+db['user_assign']+\"'\", \n    function (error, results, fields) {\n        if (error) throw error;\n        if(results.length==0){\n            err = true;\n            errors += ',no user_assign';\n        }\n\t\telse{\n\t\t    db['user_assign_id'] = results[0].id;\n\t\t}        \n    });\n}\n\nif( db['user_check']){\n    connection.query(\"SELECT * from basic_user where username = '\"+db['user_check']+\"'\", \n    function (error, results, fields) {\n        if (error) throw error;\n        if(results.length==0){\n            err = true;\n            errors += ',no user_check';\n        }\n\t\telse{\n\t\t    db['user_check_id'] = results[0].id;\n\t\t}        \n    });\n}\n\nif( db['device']){\n    connection.query(\"SELECT * from device where code = '\"+db['device']+\"'\", \n    function (error, results, fields) {\n        if (error) throw error;\n        if(results.length==0){\n            err = true;\n            errors += ',no device';\n        }\n\t\telse{\n\t\t    db['device_id'] = results[0].id;\n\t\t}          \n    });\n}\n\nif( db['materials']){\n    let arr = db['materials'];\n    for(let i=0;i<arr.length;i++){\n        if(err)break;\n        if(arr[i].code==0)continue;\n        connection.query(\"SELECT * from supply_material where code = '\"+arr[i].code+\"'\", \n        function (error, results, fields) {\n            if (error) throw error;\n            if(results.length==0){\n                err = true;\n                errors += ',no material'+arr[i].code;\n            }\n            else{\n                arr[i] = {id: results[0].id, code: arr[i].code, num: arr[i].num};\n            }\n        }); \n    }\n}\n\nif( db['user_handles']){\n    let arr = db['user_handles'];\n    for(let i=0;i<arr.length;i++){\n        if(err)break;\n        if(arr[i].code==0)continue;\n        connection.query(\"SELECT * from basic_user where username = '\"+arr[i].code+\"'\", \n        function (error, results, fields) {\n            if (error) throw error;\n            \n            if(results.length==0){\n                err = true;\n                console.debug(error);\n                errors += ',no user'+arr[i].code;\n            }else{\n                arr[i] = {id: results[0].id, code: arr[i].code};\n            }\n        }); \n    }\n}\n\nsetTimeout(function(){\n\t//connection.destroy();\n\tif(err){\n\t    msg.error = errors;\n\t}\n\tnode.send( msg );\n},500);\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":200,"wires":[["e759297a.4afd98"]]},{"id":"e759297a.4afd98","type":"switch","z":"392cb56b.befe8a","name":"","property":"error","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":200,"wires":[["4d5f7c8d.8449e4"],["cd36ef4a.5e088"]]},{"id":"4c21ec38.225914","type":"inject","z":"392cb56b.befe8a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":40,"wires":[["1409a9d2.ef9526"]]},{"id":"1409a9d2.ef9526","type":"change","z":"392cb56b.befe8a","name":"","rules":[{"t":"set","p":"mysqlip","pt":"global","to":"127.0.0.1","tot":"str"},{"t":"set","p":"mysqldb","pt":"global","to":"mes","tot":"str"},{"t":"set","p":"mysqlunm","pt":"global","to":"user1","tot":"str"},{"t":"set","p":"mysqlpwd","pt":"global","to":"user1","tot":"str"},{"t":"set","p":"port","pt":"global","to":"3308","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":40,"wires":[["2f3d2f4f.ce797"]]},{"id":"4d5f7c8d.8449e4","type":"debug","z":"392cb56b.befe8a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":200,"wires":[]},{"id":"1566cfdf.88e27","type":"debug","z":"392cb56b.befe8a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":40,"wires":[]},{"id":"21506eb8.a25152","type":"function","z":"392cb56b.befe8a","name":"维修人员记录","func":"msg.payloads.push(msg.payload);\nmsg.topics.push(msg.topic);\nconst id = msg.uuid;\nlet db = msg.db;\nlet users = db.user_handles;\nvar sqls = '';\nfor(let i=0;i<users.length;i++){\n    if(users[i].code!=0){\n        sqls += \"insert into device_breakdown_handler(b,u) values ('\"+id+\"','\"+users[i].id+\"');\";\n    }\n}\nmsg.topic = sqls;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":360,"wires":[["3cc1cda0.91fe22"]]},{"id":"21d0b609.81aa2a","type":"mysql","z":"392cb56b.befe8a","mydb":"37488f19.87758","name":"","x":630,"y":360,"wires":[["21506eb8.a25152"]]},{"id":"516f8424.a4247c","type":"debug","z":"392cb56b.befe8a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1050,"y":200,"wires":[]},{"id":"3cc1cda0.91fe22","type":"mysql","z":"392cb56b.befe8a","mydb":"37488f19.87758","name":"","x":950,"y":360,"wires":[["e07cdae7.1767d8"]]},{"id":"e07cdae7.1767d8","type":"function","z":"392cb56b.befe8a","name":"易损件使用记录","func":"msg.payloads.push(msg.payload);\nmsg.topics.push(msg.topic);\nconst id = msg.uuid;\nlet db = msg.db;\nlet materials = db.materials;\nvar sqls = '';\nfor(let i=0;i<materials.length;i++){\n    if(materials[i].code!=0){\n        sqls += \"insert into device_breakdown_consume(b,m,num) values ('\"+id+\"','\"+materials[i].id+\"','\"+materials[i].num+\"');\";\n    }\n}\nmsg.topic = sqls;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":440,"wires":[["9d04cda5.e0338"]]},{"id":"9d04cda5.e0338","type":"mysql","z":"392cb56b.befe8a","mydb":"37488f19.87758","name":"","x":630,"y":440,"wires":[[]]},{"id":"2e36f8ed.e11558","type":"exec","z":"a3148e2c.f9f36","command":"python G:\\project\\mes-ne\\photo-MES\\demo\\produce\\read_photo.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"opencv识别","x":250,"y":140,"wires":[["335f1c0a.46f144"],["ca3512b9.f75c"],["2412a225.c7db2e"]]},{"id":"e44d5b85.e680f8","type":"inject","z":"a3148e2c.f9f36","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"payloads","v":"[]","vt":"jsonata"},{"p":"topics","v":"[]","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"select remark from basic_template where code = '0507'","payload":"","payloadType":"str","x":90,"y":40,"wires":[["427b3710.bf67b8"]]},{"id":"427b3710.bf67b8","type":"mysql","z":"a3148e2c.f9f36","mydb":"37488f19.87758","name":"","x":110,"y":80,"wires":[["2df5dd5c.402312"]]},{"id":"2df5dd5c.402312","type":"switch","z":"a3148e2c.f9f36","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":80,"wires":[["fc525d76.448cd"],[]]},{"id":"fc525d76.448cd","type":"json","z":"a3148e2c.f9f36","name":"","property":"payload[0].remark","action":"","pretty":false,"x":430,"y":40,"wires":[["58511260.b4e03c"]]},{"id":"ca3512b9.f75c","type":"debug","z":"a3148e2c.f9f36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":230,"y":200,"wires":[]},{"id":"2412a225.c7db2e","type":"debug","z":"a3148e2c.f9f36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":230,"y":240,"wires":[]},{"id":"c4b1cc2b.d2ec8","type":"inject","z":"a3148e2c.f9f36","name":"","props":[{"p":"kill","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":140,"wires":[["2e36f8ed.e11558"]]},{"id":"f643ee4d.6d179","type":"function","z":"a3148e2c.f9f36","name":"字段识别","func":"var getTimeStr = global.get(\"getTimeStr\")\nvar data = {\n    status:0,\n    code:0,\n\tclass:0,\n};\nvar pld = msg.payload;\nvar s1 = pld.find(o=>o[1]=='state-1');\n\nvar s2 = pld.find(o=>o[1]=='state-2');\nvar s3 = pld.find(o=>o[1]=='state-3');\nvar s4 = pld.find(o=>o[1]=='state-4');\nif(s1)data['status']=1;\nif(s2)data['status']=2;\nif(s3)data['status']=3;\nif(s4)data['status']=4;\n\nvar c1 = pld.find(o=>o[1]=='class-1');\nvar c2 = pld.find(o=>o[1]=='class-2');\nvar c3 = pld.find(o=>o[1]=='class-3');\nif(c1)data['class']=1;\nif(c2)data['class']=2;\nif(c3)data['class']=3;\n\n\nif(data.status==0){\n    msg.error = 'no status';\n    return msg;\n}\nif(true){\n\tvar it = pld.find(o=>o[1]=='code');\n\tif(!it){\n\t\tmsg.error = 'no code';\n\t\treturn msg;\n\t}\n\tvar str = it[0];\n\tdata['code']=str;\n}\nif(true){\n\tvar it = pld.find(o=>o[1]=='num_plan');\n\tif(!it){\n\t\tmsg.error = 'no num_plan';\n\t\treturn msg;\n\t}\n\tvar str = it[0];\n\tdata['num_plan']=str;\n}\nif(true){\n\tvar it = pld.find(o=>o[1]=='time_start');\n\tif(!it){\n\t\tmsg.error = 'no time_start';\n\t\treturn msg;\n\t}\n\tvar str = it[0];\n\tif(str.length<6){\n\t\tmsg.error = 'time_start length less than 6';\n\t\treturn msg;\n\t}\n\tdata['time_start']=getTimeStr(str);\n}\n\nif(true){\n\tvar it2 = pld.find(o=>o[1]=='product');\n\tif(!it2){\n\t\tmsg.error = 'no product';\n\t\treturn msg;\n\t}\n\tvar str2 = it2[0];\n\tdata['product']=str2;\n}\nif(true){\n\tvar it2 = pld.find(o=>o[1]=='planer');\n\tif(!it2){\n\t\tmsg.error = 'no planer';\n\t\treturn msg;\n\t}\n\tvar str2 = it2[0];\n\tdata['planer']=str2;  \n}\nif(true){\n\tvar it2 = pld.find(o=>o[1]=='qc');\n\tif(it2){\n\t\tvar str2 = it2[0];\n\t\tdata['qc']=str2;  \n\t}\n} \nif(true){\n\tvar it2 = pld.find(o=>o[1]=='process');\n\tif(it2){\n\t\tvar str2 = it2[0];\n\t\tdata['process']=str2;  \n\t}\n} \nif(true){\n\tvar it2 = pld.find(o=>o[1]=='manager');\n\tif(it2){\n\t\tvar str2 = it2[0];\n\t\tdata['manager']=str2;  \n\t}\n} \nif(true){\n\tvar it2 = pld.find(o=>o[1]=='check');\n\tif(it2){\n\t\tvar str2 = it2[0];\n\t\tdata['check']=str2;  \n\t}\n}\nif(true){\n\tvar it2 = pld.find(o=>o[1]=='bag');\n\tif(it2){\n\t\tvar str2 = it2[0];\n\t\tdata['bag']=str2;  \n\t}\n}\nif(true){\n\tvar it2 = pld.find(o=>o[1]=='production');\n\tif(it2){\n\t\tvar str2 = it2[0];\n\t\tdata['production']=str2;  \n\t}\n}\nif(true){\n\tvar it2 = pld.find(o=>o[1]=='time_done');\n\tif(it2){\n\t\tvar str = it2[0];\n\t\tif(str.length<6){\n\t\t\tmsg.error = 'time_done length less than 6';\n\t\t\treturn msg;\n\t\t}\n\t\tdata['time_done']=getTimeStr(str);\n\t}\n}\n\nif(true){\n    for(var i=1;i<=12;i++){\n    \tvar it2 = pld.find(o=>o[1]=='device--'+i);\n    \tif(it2){\n    \t\tvar str = it2[0];\n    \t\tdata['device--'+i]=str;\n    \t}\n    \t\n    \tvar it3 = pld.find(o=>o[1]=='bad--'+i);\n    \tif(it3){\n    \t\tvar str = it3[0];\n    \t\tdata['bad--'+i]=str;\n    \t}  \n    \t\n    \tvar it4 = pld.find(o=>o[1]=='back--'+i);\n    \tif(it4){\n    \t\tvar str = it4[0];\n    \t\tdata['back--'+i]=str;\n    \t} \n    \t\n    \tvar it5 = pld.find(o=>o[1]=='worker--'+i);\n    \tif(it5){\n    \t\tvar str = it5[0];\n    \t\tdata['worker--'+i]=str;\n    \t}  \n    \t\n    \tvar it6 = pld.find(o=>o[1]=='production--'+i);\n    \tif(it6){\n    \t\tvar str = it6[0];\n    \t\tdata['production--'+i]=str;\n    \t}     \t\n    }\n\n}\n\n\nmsg.db = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":140,"wires":[["8410a220.3b39c"]]},{"id":"7d8cac9f.7fa2c4","type":"function","z":"a3148e2c.f9f36","name":"单据存在判断","func":"//msg.topics = [];\n//msg.payloads = [];\nmsg.payloads.push(msg.payload);\nmsg.topics.push(msg.topic);\n\nmsg.topic = \"select * from produce where code = '\"+msg.db.code+\"' \";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":280,"wires":[["6495cf3a.aee4d"]]},{"id":"8410a220.3b39c","type":"switch","z":"a3148e2c.f9f36","name":"","property":"error","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":140,"wires":[["646e20b8.c0f7a"],["6c3b0a31.eacf94"]]},{"id":"6495cf3a.aee4d","type":"mysql","z":"a3148e2c.f9f36","mydb":"37488f19.87758","name":"","x":630,"y":280,"wires":[["5c8ea378.baed5c"]]},{"id":"5c8ea378.baed5c","type":"switch","z":"a3148e2c.f9f36","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":280,"wires":[["991bf142.67e64","f8c87ef0.a5bd3"],["ed8b4450.4f5db8"]]},{"id":"991bf142.67e64","type":"function","z":"a3148e2c.f9f36","name":"单据更新","func":"msg.db['id'] = msg.payload[0].id;\n\nmsg.topic = \"update  produce set count_updated = count_updated + 1, time_lastupdated = now() where id = '\"+msg.payload[0].id+\"';delete from produce_worker where  p = '\"+msg.payload[0].id+\"';  \";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":280,"wires":[["7d625f67.c91cd"]]},{"id":"ed8b4450.4f5db8","type":"function","z":"a3148e2c.f9f36","name":"新增生产安排","func":"msg.payloads.push(msg.payload);\nmsg.topics.push(msg.topic);\n\nlet uuid = global.get('uuid');\nlet db = msg.db;\ndb['id'] = uuid.v4();\nkeys = [];\nvalues = [];\n\nif(db['code']){\n    keys.push(\"code\");\n    values.push(\"'\"+db['code']+\"'\");\n}\nif(db['name']){\n    keys.push(\"name\");\n    values.push(\"'\"+db['name']+\"'\");\n}\nif(db['id']){\n    keys.push(\"id\");\n    values.push(\"'\"+db['id']+\"'\");\n}\nif(db['time_start']){\n    keys.push(\"time_start\");\n    values.push(\"'\"+db['time_start']+\"'\");\n}\nif(db['time_done']){\n    keys.push(\"time_done\");\n    values.push(\"'\"+db['time_done']+\"'\");\n}\nif(db['product']){\n    keys.push(\"product\");\n    values.push(\"'\"+db['product']+\"'\");\n}\nif(db['user_qc']){\n    keys.push(\"user_qc\");\n    values.push(\"'\"+db['user_qc']+\"'\");\n    keys.push(\"creater_id\");\n    values.push(\"'\"+db['user_qc']+\"'\");\n    keys.push(\"updater_id\");\n    values.push(\"'\"+db['user_qc']+\"'\");    \n    keys.push(\"creater_group\");\n    values.push(\"(select group_code from basic_user where id = '\"+db['user_qc']+\"')\");       \n}\nif(db['user_planner']){\n    keys.push(\"user_planner\");\n    values.push(\"'\"+db['user_planner']+\"'\");\n}\nif(db['user_check']){\n    keys.push(\"user_check\");\n    values.push(\"'\"+db['user_check']+\"'\");\n}\nif(db['user_process']){\n    keys.push(\"user_process\");\n    values.push(\"'\"+db['user_process']+\"'\");\n}\nif(db['user_manager']){\n    keys.push(\"user_manager\");\n    values.push(\"'\"+db['user_manager']+\"'\");\n}\nif(db['user_planer']){\n    keys.push(\"user_planner\");\n    values.push(\"'\"+db['user_planer']+\"'\");\n}\nif(db['num_plan']){\n    keys.push(\"num_plan\");\n    values.push(\"'\"+db['num_plan']+\"'\");\n}\nif(db['bag']){\n    keys.push(\"num_box\");\n    values.push(\"'\"+db['bag']+\"'\");\n}\nif(db['class']){\n    keys.push(\"class\");\n    values.push(\"'\"+db['class']+\"'\");\n}\nif(db['production']){\n    keys.push(\"num_production\");\n    values.push(\"'\"+db['production']+\"'\");\n}\nif(db['status']){\n    keys.push(\"status\");\n    values.push(\"'\"+db['status']+\"'\");\n}\n\nif(true){\n    keys.push(\"time_created\");\n    values.push(\"now()\");\n    keys.push(\"time_lastupdated\");\n    values.push(\"now()\");    \n    keys.push(\"count_updated\");\n    values.push(\"1\");    \n    keys.push(\"type\");\n    values.push(\"1\");       \n}\n\nlet sql = \"insert into produce (\";\nlet sql2 = \")values(\";\nsql += keys.join(\",\");\nsql2 += values.join(\",\");\nsql = sql+sql2+\");\";\nmsg.topic = sql;\nmsg.uuid = db['id'];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":360,"wires":[["d63055c9.fc5ad8"]]},{"id":"6c3b0a31.eacf94","type":"function","z":"a3148e2c.f9f36","name":"数据检查","func":"let db = msg.db;\nlet connection = msg.conn;\nvar err = false;\nlet errors = '';\n\nvar awaitDB = global.get(\"awaitDB\");\nvar aDB = awaitDB(connection);\n\ntry{\n\tif( db['qc']){\n\t    var str = \"SELECT * from basic_user where username = '\"+db['qc']+\"'\";\n\t\tvar results = await aDB.query(str);\n\t\tif(results.length==0){\n\t\t\terr = true;\n\t\t\terrors += ',no qc '+db['qc'];\n\t\t}\n\t\telse{\n\t\t\tdelete(db['qc']);\n\t\t\tdb['user_qc'] = results[0].id;\n\t\t}\n\t}\n\n\tif( db['planer']){\n\t\tvar results = await aDB.query(\"SELECT * from basic_user where username = '\"+db['planer']+\"'\");\n\t\tif(results.length==0){\n\t\t\terr = true;\n\t\t\terrors += ',no planer '+db['planer'];\n\t\t}\n\t\telse{\n\t\t\tdelete(db['planer']);\n\t\t\tdb['user_planer'] = results[0].id;\n\t\t}\n\t}\n\n\tif( db['process']){\n\t\tvar results = await aDB.query(\"SELECT * from basic_user where username = '\"+db['process']+\"'\");\n\t\tif(results.length==0){\n\t\t\terr = true;\n\t\t\terrors += ',no process '+db['process'];\n\t\t}\n\t\telse{\n\t\t\tdelete(db['process']);\n\t\t\tdb['user_process'] = results[0].id;\n\t\t}\n\t}\n\n\tif( db['manager']){\n\t\tvar results = await aDB.query(\"SELECT * from basic_user where username = '\"+db['manager']+\"'\");\n\t\tif(results.length==0){\n\t\t\terr = true;\n\t\t\terrors += ',no manager '+db['manager'];\n\t\t}\n\t\telse{\n\t\t\tdelete(db['manager']);\n\t\t\tdb['user_manager'] = results[0].id;\n\t\t}\n\t}\n\n\tif( db['check']){\n\t\tvar results = await aDB.query(\"SELECT * from basic_user where username = '\"+db['check']+\"'\");\n\t\tif(results.length==0){\n\t\t\terr = true;\n\t\t\terrors += ',no check '+db['check'];\n\t\t}\n\t\telse{\n\t\t\tdelete(db['check']);\n\t\t\tdb['user_check'] = results[0].id;\n\t\t}\n\t}\n\n\tif( db['product']){\n\t\tvar results = await aDB.query(\"SELECT * from rd_product where code = '\"+db['product']+\"'\");\n\t\tif(results.length==0){\n\t\t\terr = true;\n\t\t\terrors += ',no product '+db['product'];\n\t\t}\n\t\telse{\n\t\t\tdelete(db['product']);\n\t\t\tdb['product'] = results[0].id;\n\t\t\tdb['name'] = results[0].name+'_拍摄导入';\n\t\t}\n\t}\n\n\tvar stations = [];\n\tfor(var i2=1;i2<=12;i2++){\n\t\tvar station = {};\n\t\tif( db['device--'+i2]){\n\t\t\tvar results = await aDB.query(\"SELECT * from device where code = '\"+db['device--'+i2]+\"'\");\n\t\t\tif(results.length==0){\n\t\t\t\terr = true;\n\t\t\t\terrors += ',no device '+db['device--'+i2];\n\t\t\t}\n\t\t\telse{\n\t\t\t\tdelete(db['device--'+i2]);\n\t\t\t\tstation['d'] = results[0].id;\n\n\t\t\t\tif( !(db['worker--'+i2]) ){\n\t\t\t\t\terr = true;\n\t\t\t\t\terrors += ',need worker '+i2;\n\t\t\t\t}\n\t\t\t\telse{\n\t\t\t\t\tvar results2 = await aDB.query(\"SELECT * from basic_user where username = '\"+db['worker--'+i2]+\"'\");\n\t\t\t\t\tif(results.length==0){\n\t\t\t\t\t\terr = true;\n\t\t\t\t\t\terrors += ',no worker '+db['worker--'+i2];\n\t\t\t\t\t}\n\t\t\t\t\telse{\n\t\t\t\t\t\tdelete(db['worker--'+i2]);\n\t\t\t\t\t\tstation['w'] = results[0].id;\n\t\t\t\t\t\tstation['job'] = '组长';\n\n\t\t\t\t\t\tif( !(db['production--'+i2]) ){\n\t\t\t\t\t\t\terr = true;\n\t\t\t\t\t\t\terrors += ',need production '+i2;\n\t\t\t\t\t\t}\n\t\t\t\t\t\telse{  \n\t\t\t\t\t\t\tstation['num_production'] = db['production--'+i2];\n\t\t\t\t\t\t\tdelete(db['production--'+i2]);\n\t\t\t\t\t\t} \n\t\t\t\t\t\tif( (db['bad--'+i2]) ){  \n\t\t\t\t\t\t\tstation['num_bad'] = db['bad--'+i2];\n\t\t\t\t\t\t\tdelete(db['bad--'+i2]);\n\t\t\t\t\t\t}\n\t\t\t\t\t\tif( (db['back--'+i2]) ){  \n\t\t\t\t\t\t\tstation['num_back'] = db['back--'+i2];\n\t\t\t\t\t\t\tdelete(db['back--'+i2]);\n\t\t\t\t\t\t}\n\t\t\t\t\t\tstations.push(station);  \n\t\t\t\t\t}\n\t\t\t\t}\t\n\t\t\t}\n\t\t}\n\t}\n} catch ( err ) {\n\n} finally {\n  \n}\n\nmsg.stations = stations;\nmsg.err = err;\nif(err){\n\tmsg.errors = errors;\n}\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":200,"wires":[["d487b6aa.9ae858"]]},{"id":"d487b6aa.9ae858","type":"switch","z":"a3148e2c.f9f36","name":"","property":"err","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":200,"wires":[["fb88c066.a1f21"],["7d8cac9f.7fa2c4"]]},{"id":"fb88c066.a1f21","type":"debug","z":"a3148e2c.f9f36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":200,"wires":[]},{"id":"646e20b8.c0f7a","type":"debug","z":"a3148e2c.f9f36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":40,"wires":[]},{"id":"d63055c9.fc5ad8","type":"mysql","z":"a3148e2c.f9f36","mydb":"37488f19.87758","name":"","x":630,"y":360,"wires":[["1f038b7d.91ace5"]]},{"id":"f8c87ef0.a5bd3","type":"debug","z":"a3148e2c.f9f36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1050,"y":200,"wires":[]},{"id":"33826a3b.c12a16","type":"mysql","z":"a3148e2c.f9f36","mydb":"37488f19.87758","name":"","x":950,"y":360,"wires":[[]]},{"id":"58511260.b4e03c","type":"function","z":"a3148e2c.f9f36","name":"","func":"msg.payload = msg.payload[0].remark\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":40,"wires":[["8d622d85.5680b"]]},{"id":"8d622d85.5680b","type":"json","z":"a3148e2c.f9f36","name":"","property":"payload[0].remark","action":"","pretty":false,"x":670,"y":40,"wires":[["fedf7a58.4bb6a8","79eb1b23.4bce34"]]},{"id":"335f1c0a.46f144","type":"function","z":"a3148e2c.f9f36","name":"json转换","func":"\neval(\"msg.payload=\"+msg.payload);\nnode.error(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":140,"wires":[["f643ee4d.6d179"]]},{"id":"fedf7a58.4bb6a8","type":"delay","z":"a3148e2c.f9f36","name":"","pauseType":"delay","timeout":"1.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":100,"wires":[["2e36f8ed.e11558"]]},{"id":"e72bb0c7.ebb4b","type":"tcp out","z":"d3fa8cac.1da15","host":"127.0.0.1","port":"65432","beserver":"client","base64":false,"end":false,"name":"","x":320,"y":180,"wires":[]},{"id":"410d543f.b19afc","type":"link in","z":"d3fa8cac.1da15","name":"cam","links":["e899bc08.3c61","79eb1b23.4bce34","49a9d581.47717c"],"x":105,"y":180,"wires":[["e72bb0c7.ebb4b"]]},{"id":"79eb1b23.4bce34","type":"link out","z":"a3148e2c.f9f36","name":"","links":["410d543f.b19afc"],"x":455,"y":620,"wires":[]},{"id":"2f3d2f4f.ce797","type":"function","z":"392cb56b.befe8a","name":"","func":"var getTimeStr = function(str){\n    var minu = str.substring(str.length-2,str.length);\n    var hour = str.substring(str.length-4,str.length-2);\n    var day = str.substring(str.length-6,str.length-4);\n    var year = (new Date()).getFullYear();\n    var month = (new Date()).getMonth()+1;\n    if(month<10)month=\"0\"+month;\n    if(str.length>=8){\n        month = str.substring(str.length-8,str.length-6);\n    }\n    if(str.length==12){\n        year = str.substring(str.length-12,str.length-8);\n    }    \n    var rtstr = year+'-'+month+'-'+day+' '+hour+':'+minu+':'+'00';\n    return rtstr;\n}\n\nglobal.set('getTimeStr',getTimeStr);\n\nfunction awaitDB( connection ) {\n  return {\n    query( sql, args ) {\n      return util.promisify( connection.query )\n        .call( connection, sql, args );\n    },\n    close() {\n      return util.promisify( connection.end ).call( connection );\n    }\n  };\n}\nglobal.set('awaitDB',awaitDB);\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":40,"wires":[[]]},{"id":"7d625f67.c91cd","type":"mysql","z":"a3148e2c.f9f36","mydb":"37488f19.87758","name":"","x":1070,"y":280,"wires":[["1f038b7d.91ace5"]]},{"id":"1f038b7d.91ace5","type":"function","z":"a3148e2c.f9f36","name":"插入工序数据","func":"msg.payloads.push(msg.payload);\nmsg.topics.push(msg.topic);\nvar db = msg.db;\n\nlet arr = msg.stations;\nvar sql_t = \"\";\nfor(var i=0;i<arr.length;i++){\n\tvar it = arr[i];\n\tkeys = [];\n\tvalues = [];\n\n\tkeys.push(\"p\");\n\tvalues.push(\"'\"+db['id']+\"'\");\n\tkeys.push(\"time_created\");\n\tvalues.push(\"now()\");\t\n\tif(it['d']){\n\t\tkeys.push(\"d\");\n\t\tvalues.push(\"'\"+it['d']+\"'\");\n\t}\n\tif(it['job']){\n\t\tkeys.push(\"job\");\n\t\tvalues.push(\"'\"+it['job']+\"'\");\n\t}\n\tif(it['w']){\n\t\tkeys.push(\"w\");\n\t\tvalues.push(\"'\"+it['w']+\"'\");\n\t}\n\tif(it['num_production']){\n\t\tkeys.push(\"num_production\");\n\t\tvalues.push(\"'\"+it['num_production']+\"'\");\n\t}\n\tif(it['num_bad']){\n\t\tkeys.push(\"num_bad\");\n\t\tvalues.push(\"'\"+it['num_bad']+\"'\");\n\t}\n\tif(it['num_back']){\n\t\tkeys.push(\"num_back\");\n\t\tvalues.push(\"'\"+it['num_back']+\"'\");\n\t}\n\t\n\tlet sql = \"insert into produce_worker (\";\n\tlet sql2 = \")values(\";\n\tsql += keys.join(\",\");\n\tsql2 += values.join(\",\");\n\tsql = sql+sql2+\");\";\n\tsql_t += sql;\n}\n\n\n\nmsg.topic = sql_t;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":360,"wires":[["33826a3b.c12a16"]]},{"id":"6aca7373.262b2c","type":"exec","z":"9f3ceec2.df6e4","command":"python G:\\project\\mes-ne\\photo-MES\\demo\\produce_material\\read_photo.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"opencv识别","x":250,"y":160,"wires":[["7a84f021.1b573"],["408eb2d5.78e9bc"],["221bc02d.0ccd7"]]},{"id":"b9376bb5.c2a278","type":"inject","z":"9f3ceec2.df6e4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"payloads","v":"[]","vt":"jsonata"},{"p":"topics","v":"[]","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"select remark from basic_template where code = '0506'","payload":"","payloadType":"str","x":90,"y":60,"wires":[["137d0f81.ed801"]]},{"id":"137d0f81.ed801","type":"mysql","z":"9f3ceec2.df6e4","mydb":"37488f19.87758","name":"","x":110,"y":100,"wires":[["5e5007e8.d61de8"]]},{"id":"5e5007e8.d61de8","type":"switch","z":"9f3ceec2.df6e4","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":100,"wires":[["74821c73.e9e314"],[]]},{"id":"74821c73.e9e314","type":"json","z":"9f3ceec2.df6e4","name":"","property":"payload[0].remark","action":"","pretty":false,"x":430,"y":60,"wires":[["8007ab3d.fd4188"]]},{"id":"408eb2d5.78e9bc","type":"debug","z":"9f3ceec2.df6e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":230,"y":220,"wires":[]},{"id":"221bc02d.0ccd7","type":"debug","z":"9f3ceec2.df6e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":230,"y":260,"wires":[]},{"id":"b83a1db5.a681f","type":"inject","z":"9f3ceec2.df6e4","name":"","props":[{"p":"kill","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":160,"wires":[["6aca7373.262b2c"]]},{"id":"ad50106f.35b18","type":"function","z":"9f3ceec2.df6e4","name":"字段识别","func":"\nvar data = {\n    code:0,\n};\nvar pld = msg.payload;\n\n\nif(true){\n\tvar it = pld.find(o=>o[1]=='code');\n\tif(!it){\n\t\tmsg.error = 'no code';\n\t\treturn msg;\n\t}\n\tvar str = it[0];\n\tdata['code']=str;\n}\nif(true){\n\tvar it = pld.find(o=>o[1]=='user1');\n\tif(!it){\n\t\tmsg.error = 'no user1';\n\t\treturn msg;\n\t}\n\tvar str = it[0];\n\tdata['user1']=str;\n}\n\nif(true){\n\tvar it2 = pld.find(o=>o[1]=='user2');\n\tif(!it2){\n\t\tmsg.error = 'no user2';\n\t\treturn msg;\n\t}\n\tvar str2 = it2[0];\n\tdata['user2']=str2;\n}\nif(true){\n\tvar it2 = pld.find(o=>o[1]=='user3');\n\tif(!it2){\n\t\tmsg.error = 'no user3';\n\t\treturn msg;\n\t}\n\tvar str2 = it2[0];\n\tdata['user3']=str2;  \n}\nif(true){\n\tvar it2 = pld.find(o=>o[1]=='qc');\n\tif(it2){\n\t\tvar str2 = it2[0];\n\t\tdata['qc']=str2;  \n\t}\n} \n\nif(true){\n    for(var i=1;i<=17;i++){\n    \tvar it2 = pld.find(o=>o[1]=='code--'+i);\n    \tif(it2){\n    \t\tvar str = it2[0];\n    \t\tdata['code--'+i]=str;\n    \t}\n    \t\n    \tvar it3 = pld.find(o=>o[1]=='bad--'+i);\n    \tif(it3){\n    \t\tvar str = it3[0];\n    \t\tdata['bad--'+i]=str;\n    \t}  \n    \t\n    \tvar it4 = pld.find(o=>o[1]=='back--'+i);\n    \tif(it4){\n    \t\tvar str = it4[0];\n    \t\tdata['back--'+i]=str;\n    \t} \n    \t\n    \tvar it5 = pld.find(o=>o[1]=='num--'+i);\n    \tif(it5){\n    \t\tvar str = it5[0];\n    \t\tdata['num--'+i]=str;\n    \t}  \n    }\n}\n\n\nmsg.db = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":160,"wires":[["c784e00b.aeb24"]]},{"id":"6f6f8af4.9babd4","type":"function","z":"9f3ceec2.df6e4","name":"单据存在判断","func":"//msg.topics = [];\n//msg.payloads = [];\nmsg.payloads.push(msg.payload);\nmsg.topics.push(msg.topic);\n\nmsg.topic = \"select * from produce where code = '\"+msg.db.code+\"' \";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":300,"wires":[["87985a5f.5f3168"]]},{"id":"c784e00b.aeb24","type":"switch","z":"9f3ceec2.df6e4","name":"","property":"error","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":160,"wires":[["3701b3d2.22d1ec"],["3ee894c.0b0916c"]]},{"id":"87985a5f.5f3168","type":"mysql","z":"9f3ceec2.df6e4","mydb":"37488f19.87758","name":"","x":630,"y":300,"wires":[["27bb70d0.2819f"]]},{"id":"27bb70d0.2819f","type":"switch","z":"9f3ceec2.df6e4","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":300,"wires":[["ff32b8be.2451a8","5d4ebc73.4eb5b4"],["595b1904.4c1ef8"]]},{"id":"ff32b8be.2451a8","type":"function","z":"9f3ceec2.df6e4","name":"单据更新","func":"msg.db['id'] = msg.payload[0].id;\n\nmsg.topic = \"update  produce set count_updated = count_updated + 1, time_lastupdated = now() where id = '\"+msg.payload[0].id+\"';delete from produce_worker where  p = '\"+msg.payload[0].id+\"';  \";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":300,"wires":[["3bc78b02.dc16d4"]]},{"id":"595b1904.4c1ef8","type":"function","z":"9f3ceec2.df6e4","name":"新增生产安排","func":"msg.payloads.push(msg.payload);\nmsg.topics.push(msg.topic);\n\nlet uuid = global.get('uuid');\nlet db = msg.db;\ndb['id'] = uuid.v4();\nkeys = [];\nvalues = [];\n\nif(db['code']){\n    keys.push(\"code\");\n    values.push(\"'\"+db['code']+\"'\");\n}\nif(db['name']){\n    keys.push(\"name\");\n    values.push(\"'\"+db['name']+\"'\");\n}\nif(db['id']){\n    keys.push(\"id\");\n    values.push(\"'\"+db['id']+\"'\");\n}\nif(db['time_start']){\n    keys.push(\"time_start\");\n    values.push(\"'\"+db['time_start']+\"'\");\n}\nif(db['time_done']){\n    keys.push(\"time_done\");\n    values.push(\"'\"+db['time_done']+\"'\");\n}\nif(db['product']){\n    keys.push(\"product\");\n    values.push(\"'\"+db['product']+\"'\");\n}\nif(db['user_qc']){\n    keys.push(\"user_qc\");\n    values.push(\"'\"+db['user_qc']+\"'\");\n    keys.push(\"creater_id\");\n    values.push(\"'\"+db['user_qc']+\"'\");\n    keys.push(\"updater_id\");\n    values.push(\"'\"+db['user_qc']+\"'\");    \n    keys.push(\"creater_group\");\n    values.push(\"(select group_code from basic_user where id = '\"+db['user_qc']+\"')\");       \n}\nif(db['user_planner']){\n    keys.push(\"user_planner\");\n    values.push(\"'\"+db['user_planner']+\"'\");\n}\nif(db['user_check']){\n    keys.push(\"user_check\");\n    values.push(\"'\"+db['user_check']+\"'\");\n}\nif(db['user_process']){\n    keys.push(\"user_process\");\n    values.push(\"'\"+db['user_process']+\"'\");\n}\nif(db['user_manager']){\n    keys.push(\"user_manager\");\n    values.push(\"'\"+db['user_manager']+\"'\");\n}\nif(db['user_planer']){\n    keys.push(\"user_planner\");\n    values.push(\"'\"+db['user_planer']+\"'\");\n}\nif(db['num_plan']){\n    keys.push(\"num_plan\");\n    values.push(\"'\"+db['num_plan']+\"'\");\n}\nif(db['bag']){\n    keys.push(\"num_box\");\n    values.push(\"'\"+db['bag']+\"'\");\n}\nif(db['class']){\n    keys.push(\"class\");\n    values.push(\"'\"+db['class']+\"'\");\n}\nif(db['production']){\n    keys.push(\"num_production\");\n    values.push(\"'\"+db['production']+\"'\");\n}\nif(db['status']){\n    keys.push(\"status\");\n    values.push(\"'\"+db['status']+\"'\");\n}\n\nif(true){\n    keys.push(\"time_created\");\n    values.push(\"now()\");\n    keys.push(\"time_lastupdated\");\n    values.push(\"now()\");    \n    keys.push(\"count_updated\");\n    values.push(\"1\");    \n    keys.push(\"type\");\n    values.push(\"1\");       \n}\n\nlet sql = \"insert into produce (\";\nlet sql2 = \")values(\";\nsql += keys.join(\",\");\nsql2 += values.join(\",\");\nsql = sql+sql2+\");\";\nmsg.topic = sql;\nmsg.uuid = db['id'];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":380,"wires":[["53193f88.6325c"]]},{"id":"3ee894c.0b0916c","type":"function","z":"9f3ceec2.df6e4","name":"数据检查","func":"let db = msg.db;\nlet connection = msg.conn;\nvar err = false;\nlet errors = '';\n\nvar awaitDB = global.get(\"awaitDB\");\nvar aDB = awaitDB(connection);\nvar mts = [];\ntry {\n    if( db['code']){\n\t\tvar results = await aDB.query( \"SELECT * from produce where code = '\"+db['code']+\"'\");\n\t\tif(results.length==0){\n\t\t\terr = true;\n\t\t\terrors += ',no produce'+db['code'];\n\t\t}\n\t\telse{\n\t\t    delete(db['code']);\n\t\t    db['p'] = results[0].id;\n\t\t}\n\t}\n\t\n\tif( db['user1']){\n\t\tvar results = await aDB.query( \"SELECT * from basic_user where username = '\"+db['user1']+\"'\");\n\t\tif(results.length==0){\n\t\t\terr = true;\n\t\t\terrors += ',no user_receiver'+db['user1'];\n\t\t}\n\t\telse{\n\t\t\tdelete(db['user1']);\n\t\t\tdb['user_receiver'] = results[0].id;\n\t\t}\n\t}\n\t\n\tif( db['user2']){\n\t\tvar results = await aDB.query( \"SELECT * from basic_user where username = '\"+db['user2']+\"'\");\n\t\tif(results.length==0){\n\t\t\terr = true;\n\t\t\terrors += ',no user_keeper'+db['user2'];\n\t\t}\n\t\telse{\n\t\t\tdelete(db['user2']);\n\t\t\tdb['user_keeper'] = results[0].id;\n\t\t}\n\t}\n\n\tif( db['user3']){\n\t\tvar results = await aDB.query( \"SELECT * from basic_user where username = '\"+db['user3']+\"'\");\n\t\tif(results.length==0){\n\t\t\terr = true;\n\t\t\terrors += ',no user_deliver'+db['user3'];\n\t\t}\n\t\telse{\n\t\t\tdelete(db['user3']);\n\t\t\tdb['user_deliver'] = results[0].id;\n\t\t}\n\t}\n\t\n    if(!db['v']){\n\t\terr = true;\n\t\terrors += ',no v';\n    }\n    else{\n        db['code_warehouse'] = db['v'];\n        delete(db['v']);\n    }\t\n\t\n\tfor(var i2=1;i2<=17;i2++){\n\t    var mt = db['code--'+i2];\n\t    var results = await aDB.query( \"SELECT * from supply_material where code = '\"+mt+\"'\");\n\t\tif(results.length==0){\n\t\t\terr = true;\n\t\t\terrors += ',no user_material'+mt;\n\t\t}\n\t\telse{\n\t\t\tdelete(db['code--'+i2]);\n\t\t\t\n\t\t\tmts.push({\n\t\t\t    m: mt,\n\t\t\t    p: db['p'],\n\t\t\t    num: db['num--'+i2],\n\t\t\t    num_back: db['back--'+i2],\n\t\t\t    num_bad: db['bad--'+i2],\n\t\t\t    user_receiver: db['user_receiver'],\n\t\t\t    user_keeper: db['user_keeper'],\n\t\t\t    user_deliver: db['user_deliver'],\t\n\t\t\t    code_warehouse: db['code_warehouse'],\t\t\t    \n\t\t\t});\n\t\t}\n\t}\n\t\n} catch ( err ) {\n\n} finally {\n  \n}\n\nmsg.err = err;\nif(err){\n    msg.errors = errors;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":220,"wires":[["786eee46.3e37b"]]},{"id":"786eee46.3e37b","type":"switch","z":"9f3ceec2.df6e4","name":"","property":"err","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":220,"wires":[["a7c3dbb8.df3ef8"],["6f6f8af4.9babd4"]]},{"id":"a7c3dbb8.df3ef8","type":"debug","z":"9f3ceec2.df6e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":220,"wires":[]},{"id":"3701b3d2.22d1ec","type":"debug","z":"9f3ceec2.df6e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":60,"wires":[]},{"id":"53193f88.6325c","type":"mysql","z":"9f3ceec2.df6e4","mydb":"37488f19.87758","name":"","x":630,"y":380,"wires":[["3a259a91.5dd4b6"]]},{"id":"5d4ebc73.4eb5b4","type":"debug","z":"9f3ceec2.df6e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1050,"y":220,"wires":[]},{"id":"43f7bc9b.fc78e4","type":"mysql","z":"9f3ceec2.df6e4","mydb":"37488f19.87758","name":"","x":950,"y":380,"wires":[[]]},{"id":"8007ab3d.fd4188","type":"function","z":"9f3ceec2.df6e4","name":"","func":"msg.payload = msg.payload[0].remark\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":60,"wires":[["eac98052.8922d"]]},{"id":"eac98052.8922d","type":"json","z":"9f3ceec2.df6e4","name":"","property":"payload[0].remark","action":"","pretty":false,"x":670,"y":60,"wires":[["f365ecc6.5e432","49a9d581.47717c"]]},{"id":"7a84f021.1b573","type":"function","z":"9f3ceec2.df6e4","name":"json转换","func":"\neval(\"msg.payload=\"+msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":160,"wires":[["ad50106f.35b18"]]},{"id":"f365ecc6.5e432","type":"delay","z":"9f3ceec2.df6e4","name":"","pauseType":"delay","timeout":"1.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":120,"wires":[["6aca7373.262b2c"]]},{"id":"49a9d581.47717c","type":"link out","z":"9f3ceec2.df6e4","name":"","links":["410d543f.b19afc"],"x":455,"y":640,"wires":[]},{"id":"3bc78b02.dc16d4","type":"mysql","z":"9f3ceec2.df6e4","mydb":"37488f19.87758","name":"","x":1070,"y":300,"wires":[["3a259a91.5dd4b6"]]},{"id":"3a259a91.5dd4b6","type":"function","z":"9f3ceec2.df6e4","name":"插入工序数据","func":"msg.payloads.push(msg.payload);\nmsg.topics.push(msg.topic);\nvar db = msg.db;\n\nlet arr = msg.stations;\nvar sql_t = \"\";\nfor(var i=0;i<arr.length;i++){\n\tvar it = arr[i];\n\tkeys = [];\n\tvalues = [];\n\n\tkeys.push(\"p\");\n\tvalues.push(\"'\"+db['id']+\"'\");\n\tkeys.push(\"time_created\");\n\tvalues.push(\"now()\");\t\n\tif(it['d']){\n\t\tkeys.push(\"d\");\n\t\tvalues.push(\"'\"+it['d']+\"'\");\n\t}\n\tif(it['job']){\n\t\tkeys.push(\"job\");\n\t\tvalues.push(\"'\"+it['job']+\"'\");\n\t}\n\tif(it['w']){\n\t\tkeys.push(\"w\");\n\t\tvalues.push(\"'\"+it['w']+\"'\");\n\t}\n\tif(it['num_production']){\n\t\tkeys.push(\"num_production\");\n\t\tvalues.push(\"'\"+it['num_production']+\"'\");\n\t}\n\tif(it['num_bad']){\n\t\tkeys.push(\"num_bad\");\n\t\tvalues.push(\"'\"+it['num_bad']+\"'\");\n\t}\n\tif(it['num_back']){\n\t\tkeys.push(\"num_back\");\n\t\tvalues.push(\"'\"+it['num_back']+\"'\");\n\t}\n\t\n\tlet sql = \"insert into produce_worker (\";\n\tlet sql2 = \")values(\";\n\tsql += keys.join(\",\");\n\tsql2 += values.join(\",\");\n\tsql = sql+sql2+\");\";\n\tsql_t += sql;\n}\n\n\n\nmsg.topic = sql_t;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":380,"wires":[["43f7bc9b.fc78e4"]]},{"id":"fd0a945e.9b1838","type":"debug","z":"9f3ceec2.df6e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":300,"y":480,"wires":[]}]